{"openapi":"3.1.0","info":{"title":"api","version":"2"},"servers":[{"url":"https://app.vwo.com/api/v2"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"token"}}},"security":[{"sec0":[]}],"paths":{"/accounts/{account_id}/drafts":{"get":{"summary":"Get all drafts campaigns","description":"","operationId":"get-drafts-of-current--sub-account","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": [\n    {\n      \"draftId\": 14597,\n      \"type\": \"ab\",\n      \"status\": \"draft\",\n      \"platform\": \"website\",\n      \"createdOn\": 1412649106,\n      \"currentDraftStepIndex\": 2,\n      \"name\": \"Campaign 142\",\n      \"urls\": [\n        {\n          \"value\": \"http:\\/\\/wingify.com\"\n        }\n      ],\n      \"createdBy\": {\n        \"id\": 1,\n        \"name\": \"Backend Testing\"\n      }\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"draftId":{"type":"integer","example":14597,"default":0},"type":{"type":"string","example":"ab"},"status":{"type":"string","example":"draft"},"platform":{"type":"string","example":"website"},"createdOn":{"type":"integer","example":1412649106,"default":0},"currentDraftStepIndex":{"type":"integer","example":2,"default":0},"name":{"type":"string","example":"Campaign 142"},"urls":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","example":"http://wingify.com"}}}},"createdBy":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Backend Testing"}}}}}}}}}}}},"deprecated":false},"post":{"summary":"Create a draft","description":"","operationId":"create-draft-in-current--sub-account","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}}],"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"draftId\": 14599,\n    \"createdOn\": 1416225457,\n    \"createdBy\": {\n      \"id\": 1,\n      \"name\": \"Backend Testing\"\n    },\n    \"newCampaignName\": \"Campaign 142\"\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"draftId":{"type":"integer","example":14599,"default":0},"createdOn":{"type":"integer","example":1416225457,"default":0},"createdBy":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Backend Testing"}}},"newCampaignName":{"type":"string","example":"Campaign 142"}}}}}}}}},"deprecated":false,"security":[]}},"/accounts/{account_id}/drafts/{draft_id}":{"get":{"summary":"Get specific draft campaign","description":"","operationId":"get-drafts-of-current--sub-account-1","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"draft_id","in":"path","description":"Draft Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"draftId\": 14597,\n    \"createdBy\": 1,\n    \"platform\": \"website\",\n    \"isAdvancedMode\": false,\n    \"currentDraftStepIndex\": 2,\n    \"type\": \"ab\",\n    \"urls\": [\n      {\n        \"type\": \"url\",\n        \"value\": \"http:\\/\\/wingify.com\"\n      }\n    ],\n    \"primaryUrl\": \"http:\\/\\/wingify.com\",\n    \"globalSegment\": {\n      \"segmentationType\": \"pre\",\n      \"platform\": \"website\",\n      \"id\": \"1\",\n      \"type\": \"predefined\",\n      \"name\": \"Direct\",\n      \"description\": \"Segment to allow only direct traffic\"\n    },\n    \"variations\": [\n      {\n        \"platform\": \"website\",\n        \"id\": 1,\n        \"name\": \"Control\",\n        \"editorData\": {\n          \"stack\": []\n        },\n        \"deployContent\": []\n      },\n      {\n        \"platform\": \"website\",\n        \"id\": 2,\n        \"name\": \"Variation 1\",\n        \"editorData\": {\n          \"stack\": [\n            {\n              \"el\": 0,\n              \"op\": {\n                \"opName\": \"html\",\n                \"html\": \"The company  pioneered easy A\\/B testing\"\n              },\n              \"depending\": false,\n              \"XPath\": \"BODY > NOSCRIPT:first-child + SCRIPT + HEADER#top_header + SECTION > DIV:first-child > DIV:first-child > H2:first-child\",\n              \"parentTag\": \"DIV\"\n            }\n          ]\n        },\n        \"deployContent\": [\n          {\n            \"jsString\": \"var ctx=vwo_$(x);ctx.html(\\\"The company  pioneered easy A\\/B testing\\\");\",\n            \"cssSelector\": \"HEADER#top_header + SECTION > DIV:first-child > DIV:first-child > H2:first-child\"\n          }\n        ]\n      }\n    ],\n    \"status\": \"draft\",\n    \"goals\": [\n      {\n        \"id\": 1,\n        \"name\": \"Goal 1\",\n        \"type\": \"visitPage\",\n        \"isPrimary\": true,\n        \"urls\": [\n          {\n            \"type\": \"url\",\n            \"value\": \"http:\\/\\/wingify.com\"\n          }\n        ],\n        \"cssSelectors\": []\n      }\n    ],\n    \"name\": \"Campaign 142\",\n    \"newCampaignName\": \"Campaign 142\",\n    \"percentTraffic\": 100,\n    \"isHeatmapEnabled\": true\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"draftId":{"type":"integer","example":14597,"default":0},"createdBy":{"type":"integer","example":1,"default":0},"platform":{"type":"string","example":"website"},"isAdvancedMode":{"type":"boolean","example":false,"default":true},"currentDraftStepIndex":{"type":"integer","example":2,"default":0},"type":{"type":"string","example":"ab"},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"primaryUrl":{"type":"string","example":"http://wingify.com"},"globalSegment":{"type":"object","properties":{"segmentationType":{"type":"string","example":"pre"},"platform":{"type":"string","example":"website"},"id":{"type":"string","example":"1"},"type":{"type":"string","example":"predefined"},"name":{"type":"string","example":"Direct"},"description":{"type":"string","example":"Segment to allow only direct traffic"}}},"variations":{"type":"array","items":{"type":"object","properties":{"platform":{"type":"string","example":"website"},"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}},"deployContent":{"type":"array"}}}},"status":{"type":"string","example":"draft"},"goals":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Goal 1"},"type":{"type":"string","example":"visitPage"},"isPrimary":{"type":"boolean","example":true,"default":true},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"cssSelectors":{"type":"array"}}}},"name":{"type":"string","example":"Campaign 142"},"newCampaignName":{"type":"string","example":"Campaign 142"},"percentTraffic":{"type":"integer","example":100,"default":0},"isHeatmapEnabled":{"type":"boolean","example":true,"default":true}}}}}}}}},"deprecated":false},"patch":{"summary":"Update draft campaigns","description":"","operationId":"update-draft-of-current--sub-account","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"draft_id","in":"path","description":"Draft Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"draftId\": 14597,\n    \"createdOn\": 1416225457,\n    \"createdBy\": {\n      \"id\": 1,\n      \"name\": \"Backend Testing\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"draftId":{"type":"integer","example":14597,"default":0},"createdOn":{"type":"integer","example":1416225457,"default":0},"createdBy":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Backend Testing"}}}}}}}}}}},"deprecated":false},"delete":{"summary":"Delete draft campaigns","description":"","operationId":"delete-draft-of-current--sub-account","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"draft_id","in":"path","description":"Draft Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"204","content":{"text/plain":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns":{"get":{"summary":"Get all campaigns in an account / sub-account","description":"","operationId":"get-the-campaigns-of-an-account","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"limit","in":"query","description":"Limit the number of campaigns to be returned","schema":{"type":"integer","format":"int32","default":25}},{"name":"offset","in":"query","description":"Offset where campaign should be fetched from","schema":{"type":"string","default":"0"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        [{\n            \"id\": 7,\n            \"name\": \"Campaign 35\",\n            \"type\": \"ab\",\n            \"platform\": \"website\",\n            \"status\": \"NOT_STARTED\",\n            \"createdOn\": 1417421529,\n            \"isDeleted\": false,\n            \"createdBy\": {\n                \"id\": 44349,\n                \"name\": \"Sample\",\n                \"imageUrl\": \"//gravatar.com/avatar/f4fedd3b67d066bfcce237a11da14825?s=24&d=https%3A%2F%2Fapp.vwo.com%2Fassets%2Fimages%2Favatar-new.png\"\n            },\n            \"primaryUrl\": \"http://wingify.com\",\n            \"urls\": [{\n                \"type\": \"url\",\n                \"value\": \"http://wingify.com\"\n            }],\n            \"labels\": [],\n            \"goals\": {\n                \"partialCollection\": [{\n                    \"id\": 2,\n                    \"isPrimary\": true,\n                    \"name\": \"New name\",\n                    \"type\": \"visitPage\",\n                    \"averageData\": []\n                }],\n                \"offset\": 0,\n                \"totalCount\": 3\n            },\n            \"primaryGoal\": 2,\n            \"variations\": {\n                \"partialCollection\": [],\n                \"totalCount\": 3\n            }\n        }]\n    }\n}"}}}}}},"deprecated":false},"post":{"summary":"Create a campaign","description":"","operationId":"create-a-campaign","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}}],"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 15,\n        \"status\": \"NOT_STARTED\",\n        \"goals\": [\n            {\n                \"id\": 1,\n                \"name\": \"New goal\"\n            }\n        ]\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":15,"default":0},"status":{"type":"string","example":"NOT_STARTED"},"goals":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"New goal"}}}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/{campaign_id}":{"get":{"summary":"Get details of a specific campaign","description":"","operationId":"get-details-of-a-specific-campaign","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"id\": 7,\n    \"name\": \"Campaign 7\",\n    \"type\": \"ab\",\n    \"status\": \"NOT_STARTED\",\n    \"createdOn\": 1472036883,\n    \"labels\": [],\n    \"percentTraffic\": 100,\n    \"createdBy\": {\n      \"id\": 40505,\n      \"name\": \"Sample\",\n      \"imageUrl\": \"*****\"\n    },\n    \"urls\": [\n      {\n        \"type\": \"url\",\n        \"value\": \"http://wingify.com\"\n      }\n    ],\n    \"excludedUrls\": [],\n    \"primaryUrl\": \"http://wingify.com\",\n    \"integrations\": {\n      \"ga\": {\n        \"enabled\": false,\n        \"slot\": 4,\n        \"prefix\": \"\"\n      },\n      \"clicktale\": {\n        \"enabled\": false\n      },\n      \"ua\": {\n        \"enabled\": false,\n        \"dimension\": 1,\n        \"prefix\": \"\"\n      },\n      \"gtm\": {\n        \"enabled\": false\n      }\n    },\n    \"thresholds\": {\n      \"winningPercent\": 0.95,\n      \"losingPercent\": 0.05,\n      \"visitors\": 20\n    },\n    \"device\": \"desktop\",\n    \"variations\": [\n      {\n        \"id\": 1,\n        \"name\": \"Control\",\n        \"isControl\": true,\n        \"isDisabled\": false,\n        \"heatmapThumbUrl\": \"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_256_1_calc-0.png\",\n        \"screenshots\": {\n          \"quick\": \"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/256_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png\"\n        },\n        \"percentSplit\": 100,\n        \"editorData\": {\n          \"stack\": null\n        },\n        \"isBase\": true\n      }\n    ],\n    \"goals\": [\n      {\n        \"id\": 1,\n        \"isPrimary\": true,\n        \"name\": \"New goal\",\n        \"excludedUrls\": [],\n        \"isCreatedInEditor\": false,\n        \"type\": \"visitPage\",\n        \"urls\": [\n          {\n            \"type\": \"url\",\n            \"value\": \"http://wingify.com\"\n          }\n        ],\n        \"averageData\": []\n      }\n    ],\n    \"dataIntervalRange\": [],\n    \"variationGoalData\": [],\n    \"schedules\": [],\n    \"isCrossDomainEnabled\": false,\n    \"stats\": {\n      \"conversionRate\": \"0.05\",\n      \"liftInConversionRate\": \"0.05\",\n      \"certaintyMode\": \"0.01\",\n      \"expectedMonthlyVisitors\": 300000,\n      \"expectedRevenuePerVisitor\": \"2\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":7,"default":0},"name":{"type":"string","example":"Campaign 7"},"type":{"type":"string","example":"ab"},"status":{"type":"string","example":"NOT_STARTED"},"createdOn":{"type":"integer","example":1472036883,"default":0},"labels":{"type":"array"},"percentTraffic":{"type":"integer","example":100,"default":0},"createdBy":{"type":"object","properties":{"id":{"type":"integer","example":40505,"default":0},"name":{"type":"string","example":"Sample"},"imageUrl":{"type":"string","example":"*****"}}},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"excludedUrls":{"type":"array"},"primaryUrl":{"type":"string","example":"http://wingify.com"},"integrations":{"type":"object","properties":{"ga":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true},"slot":{"type":"integer","example":4,"default":0},"prefix":{"type":"string","example":""}}},"clicktale":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true}}},"ua":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true},"dimension":{"type":"integer","example":1,"default":0},"prefix":{"type":"string","example":""}}},"gtm":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true}}}}},"thresholds":{"type":"object","properties":{"winningPercent":{"type":"number","example":0.95,"default":0},"losingPercent":{"type":"number","example":0.05,"default":0},"visitors":{"type":"integer","example":20,"default":0}}},"device":{"type":"string","example":"desktop"},"variations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_256_1_calc-0.png"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/256_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png"}}},"percentSplit":{"type":"integer","example":100,"default":0},"editorData":{"type":"object","properties":{"stack":{}}},"isBase":{"type":"boolean","example":true,"default":true}}}},"goals":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"isPrimary":{"type":"boolean","example":true,"default":true},"name":{"type":"string","example":"New goal"},"excludedUrls":{"type":"array"},"isCreatedInEditor":{"type":"boolean","example":false,"default":true},"type":{"type":"string","example":"visitPage"},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"averageData":{"type":"array"}}}},"dataIntervalRange":{"type":"array"},"variationGoalData":{"type":"array"},"schedules":{"type":"array"},"isCrossDomainEnabled":{"type":"boolean","example":false,"default":true},"stats":{"type":"object","properties":{"conversionRate":{"type":"string","example":"0.05"},"liftInConversionRate":{"type":"string","example":"0.05"},"certaintyMode":{"type":"string","example":"0.01"},"expectedMonthlyVisitors":{"type":"integer","example":300000,"default":0},"expectedRevenuePerVisitor":{"type":"string","example":"2"}}}}}}}}}}},"deprecated":false},"patch":{"summary":"Update a campaign","description":"","operationId":"update-a-campaign","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"id\": 15,\n    \"name\": \"New name\",\n    \"type\": \"ab\",\n    \"status\": \"NOT_STARTED\",\n    \"createdOn\": 1472631589,\n    \"labels\": [],\n    \"percentTraffic\": 100,\n    \"createdBy\": {\n      \"id\": 40505,\n      \"name\": \"Sample\",\n      \"imageUrl\": \"*****\"\n    },\n    \"urls\": [\n      {\n        \"type\": \"url\",\n        \"value\": \"http://wingify.com\"\n      }\n    ],\n    \"excludedUrls\": [],\n    \"primaryUrl\": \"http://wingify.com\",\n    \"integrations\": {\n      \"ga\": {\n        \"enabled\": false,\n        \"slot\": 4,\n        \"prefix\": \"\"\n      },\n      \"clicktale\": {\n        \"enabled\": false\n      },\n      \"ua\": {\n        \"enabled\": false,\n        \"dimension\": 1,\n        \"prefix\": \"\"\n      },\n      \"gtm\": {\n        \"enabled\": false\n      }\n    },\n    \"thresholds\": {\n      \"winningPercent\": 0.95,\n      \"losingPercent\": 0.05,\n      \"visitors\": 20\n    },\n    \"device\": \"desktop\",\n    \"variations\": [\n      {\n        \"id\": 1,\n        \"name\": \"Control\",\n        \"isControl\": true,\n        \"isDisabled\": false,\n        \"heatmapThumbUrl\": \"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_257_1_calc-0.png\",\n        \"screenshots\": {\n          \"quick\": \"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/257_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png\"\n        },\n        \"percentSplit\": 100,\n        \"editorData\": {\n          \"stack\": null\n        },\n        \"isBase\": true\n      }\n    ],\n    \"goals\": [\n      {\n        \"id\": 1,\n        \"isPrimary\": true,\n        \"name\": \"New goal\",\n        \"excludedUrls\": [],\n        \"isCreatedInEditor\": false,\n        \"type\": \"visitPage\",\n        \"urls\": [\n          {\n            \"type\": \"url\",\n            \"value\": \"http://wingify.com\"\n          }\n        ],\n        \"averageData\": []\n      }\n    ],\n    \"dataIntervalRange\": [],\n    \"variationGoalData\": [],\n    \"schedules\": [],\n    \"stats\": {\n      \"conversionRate\": \"0.05\",\n      \"liftInConversionRate\": \"0.05\",\n      \"certaintyMode\": \"0.01\",\n      \"expectedMonthlyVisitors\": 300000,\n      \"expectedRevenuePerVisitor\": \"2\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":15,"default":0},"name":{"type":"string","example":"New name"},"type":{"type":"string","example":"ab"},"status":{"type":"string","example":"NOT_STARTED"},"createdOn":{"type":"integer","example":1472631589,"default":0},"labels":{"type":"array"},"percentTraffic":{"type":"integer","example":100,"default":0},"createdBy":{"type":"object","properties":{"id":{"type":"integer","example":40505,"default":0},"name":{"type":"string","example":"Sample"},"imageUrl":{"type":"string","example":"*****"}}},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"excludedUrls":{"type":"array"},"primaryUrl":{"type":"string","example":"http://wingify.com"},"integrations":{"type":"object","properties":{"ga":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true},"slot":{"type":"integer","example":4,"default":0},"prefix":{"type":"string","example":""}}},"clicktale":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true}}},"ua":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true},"dimension":{"type":"integer","example":1,"default":0},"prefix":{"type":"string","example":""}}},"gtm":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true}}}}},"thresholds":{"type":"object","properties":{"winningPercent":{"type":"number","example":0.95,"default":0},"losingPercent":{"type":"number","example":0.05,"default":0},"visitors":{"type":"integer","example":20,"default":0}}},"device":{"type":"string","example":"desktop"},"variations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_257_1_calc-0.png"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/257_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png"}}},"percentSplit":{"type":"integer","example":100,"default":0},"editorData":{"type":"object","properties":{"stack":{}}},"isBase":{"type":"boolean","example":true,"default":true}}}},"goals":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"isPrimary":{"type":"boolean","example":true,"default":true},"name":{"type":"string","example":"New goal"},"excludedUrls":{"type":"array"},"isCreatedInEditor":{"type":"boolean","example":false,"default":true},"type":{"type":"string","example":"visitPage"},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"averageData":{"type":"array"}}}},"dataIntervalRange":{"type":"array"},"variationGoalData":{"type":"array"},"schedules":{"type":"array"},"stats":{"type":"object","properties":{"conversionRate":{"type":"string","example":"0.05"},"liftInConversionRate":{"type":"string","example":"0.05"},"certaintyMode":{"type":"string","example":"0.01"},"expectedMonthlyVisitors":{"type":"integer","example":300000,"default":0},"expectedRevenuePerVisitor":{"type":"string","example":"2"}}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/{campaign_id}/share":{"get":{"summary":"Get share link for a specific campaign","description":"","operationId":"get-share-link-for-a-specific-campaign","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"shareLink\": \"https://app.vwo.com/#/campaign/1/summary?token=eyJhY2NvdW50X2lkIjoxOTI2ODMsImV4cGVyaW1lbdRfaWQiOjEsImNyZWF0ZWqfb24iOjE0NDI0ODAyMTIsInR5cGUiOiJjYW1wYWlnbiIsInZlcnNpb24iOjEshjdjhasgdjhasgdh3NThhNzFmNzYyM2IzZTllYWQ5ZGI3MjZmZCJ9\"\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"shareLink":{"type":"string","example":"https://app.vwo.com/#/campaign/1/summary?token=eyJhY2NvdW50X2lkIjoxOTI2ODMsImV4cGVyaW1lbdRfaWQiOjEsImNyZWF0ZWqfb24iOjE0NDI0ODAyMTIsInR5cGUiOiJjYW1wYWlnbiIsInZlcnNpb24iOjEshjdjhasgdjhasgdh3NThhNzFmNzYyM2IzZTllYWQ5ZGI3MjZmZCJ9"}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/status":{"patch":{"summary":"Update campaign status","description":"","operationId":"update-a-campaign-1","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"status\": \"STOPPED\",\n        \"ids\": [\n            14,\n            15\n        ]\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"status":{"type":"string","example":"STOPPED"},"ids":{"type":"array","items":{"type":"integer","example":14,"default":0}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/{campaign_id}/goals":{"get":{"summary":"Get all goals of a campaign","description":"","operationId":"get-all-the-goals-of-a-campaign","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": [\n        {\n            \"id\": 2,\n            \"isPrimary\": true,\n            \"name\": \"Goal 2\",\n            \"urls\": [\n                {\n                    \"type\": \"url\",\n                    \"value\": \"http://wingify.com\"\n                }\n            ],\n            \"excludedUrls\": [],\n            \"cssSelectors\": [\n                null\n            ],\n            \"isCreatedInEditor\": false,\n            \"type\": \"visitPage\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":2,"default":0},"isPrimary":{"type":"boolean","example":true,"default":true},"name":{"type":"string","example":"Goal 2"},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"excludedUrls":{"type":"array"},"cssSelectors":{"type":"array","items":{}},"isCreatedInEditor":{"type":"boolean","example":false,"default":true},"type":{"type":"string","example":"visitPage"}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/{campaign_id}/goals/{goal_id}":{"get":{"summary":"Get details of a specific goal in a campaign","description":"","operationId":"get-details-of-a-specific-goal-in-a-campaign","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"goal_id","in":"path","description":"Goal Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 2,\n        \"isPrimary\": true,\n        \"name\": \"Goal 2\",\n        \"urls\": [\n            {\n                \"type\": \"url\",\n                \"value\": \"http://wingify.com\"\n            }\n        ],\n        \"excludedUrls\": [],\n        \"cssSelectors\": [\n            null\n        ],\n        \"isCreatedInEditor\": false,\n        \"type\": \"visitPage\"\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":2,"default":0},"isPrimary":{"type":"boolean","example":true,"default":true},"name":{"type":"string","example":"Goal 2"},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"excludedUrls":{"type":"array"},"cssSelectors":{"type":"array","items":{}},"isCreatedInEditor":{"type":"boolean","example":false,"default":true},"type":{"type":"string","example":"visitPage"}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaign/{campaign_id}/goals":{"post":{"summary":"Create a campaign goal","description":"","operationId":"create-a-campaign-goal","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 3,\n        \"isPrimary\": false,\n        \"name\": \"New goal\",\n        \"urls\": [\n            {\n                \"type\": \"url\",\n                \"value\": \"http://wingify.com\"\n            }\n        ],\n        \"excludedUrls\": [],\n        \"cssSelectors\": [\n            null\n        ],\n        \"isCreatedInEditor\": false,\n        \"type\": \"visitPage\"\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":3,"default":0},"isPrimary":{"type":"boolean","example":false,"default":true},"name":{"type":"string","example":"New goal"},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"excludedUrls":{"type":"array"},"cssSelectors":{"type":"array","items":{}},"isCreatedInEditor":{"type":"boolean","example":false,"default":true},"type":{"type":"string","example":"visitPage"}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaign/{campaign_id}/goals/{goal_id}":{"patch":{"summary":"Update a campaign goal","description":"","operationId":"update-a-campaign-goal","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"goal_id","in":"path","description":"Goal Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 2,\n        \"isPrimary\": true,\n        \"name\": \"New name\",\n        \"urls\": [\n            {\n                \"type\": \"url\",\n                \"value\": \"http://wingify.com\"\n            }\n        ],\n        \"excludedUrls\": [],\n        \"cssSelectors\": [\n            null\n        ],\n        \"isCreatedInEditor\": false,\n        \"type\": \"visitPage\"\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":2,"default":0},"isPrimary":{"type":"boolean","example":true,"default":true},"name":{"type":"string","example":"New name"},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"excludedUrls":{"type":"array"},"cssSelectors":{"type":"array","items":{}},"isCreatedInEditor":{"type":"boolean","example":false,"default":true},"type":{"type":"string","example":"visitPage"}}}}}}}}},"deprecated":false},"delete":{"summary":"Delete a campaign goal","description":"","operationId":"delete-a-campaign-goal","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"goal_id","in":"path","description":"Goal Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/{campaign_id}/variations":{"get":{"summary":"Get all variations of a campaign","description":"","operationId":"get-all-the-variations-of-a-campaign","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": [\n        {\n            \"id\": 1,\n            \"name\": \"Control\",\n            \"isControl\": true,\n            \"isDisabled\": false,\n            \"heatmapThumbUrl\": \"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-40505_7_1_calc-0.png\",\n            \"screenshots\": {\n                \"quick\": \"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/40505/7_1_8cf9ad535ba453c84abd4c38617f93b4.png\"\n            },\n            \"percentSplit\": 50,\n            \"editorData\": {\n                \"stack\": []\n            },\n            \"sectionId\": 1\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-40505_7_1_calc-0.png"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/40505/7_1_8cf9ad535ba453c84abd4c38617f93b4.png"}}},"percentSplit":{"type":"integer","example":50,"default":0},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}},"sectionId":{"type":"integer","example":1,"default":0}}}}}}}}}},"deprecated":false},"post":{"summary":"Create a campaign variation","description":"","operationId":"create-a-campaign-variation","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 3,\n        \"name\": \"New shiny variation\",\n        \"isControl\": false,\n        \"isDisabled\": false,\n        \"heatmapThumbUrl\": \"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-40505_7_3_calc-0.png\",\n        \"screenshots\": {\n            \"quick\": \"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/40505/7_3_8cf9ad535ba453c84abd4c38617f93b4.png\"\n        },\n        \"percentSplit\": 33.3333,\n        \"editorData\": {\n            \"stack\": null\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":3,"default":0},"name":{"type":"string","example":"New shiny variation"},"isControl":{"type":"boolean","example":false,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-40505_7_3_calc-0.png"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/40505/7_3_8cf9ad535ba453c84abd4c38617f93b4.png"}}},"percentSplit":{"type":"number","example":33.3333,"default":0},"editorData":{"type":"object","properties":{"stack":{}}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/{campaign_id}/variations/{variation_id}":{"get":{"summary":"Get details of a specific campaign variation","description":"","operationId":"get-details-of-a-specific-campaign-variation","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"variation_id","in":"path","description":"Use sectionId,variationId for the MULTIVARIATE campaign","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 1,\n        \"name\": \"Control\",\n        \"isControl\": true,\n        \"isDisabled\": false,\n        \"heatmapThumbUrl\": \"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-40505_7_1_calc-0.png\",\n        \"screenshots\": {\n            \"quick\": \"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/40505/7_1_8cf9ad535ba453c84abd4c38617f93b4.png\"\n        },\n        \"percentSplit\": 50,\n        \"editorData\": {\n            \"stack\": []\n        },\n        \"sectionId\": 1\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-40505_7_1_calc-0.png"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/40505/7_1_8cf9ad535ba453c84abd4c38617f93b4.png"}}},"percentSplit":{"type":"integer","example":50,"default":0},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}},"sectionId":{"type":"integer","example":1,"default":0}}}}}}}}},"deprecated":false},"patch":{"summary":"Update a campaign variation","description":"","operationId":"update-a-campaign-variation","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"variation_id","in":"path","description":"Use sectionId,variationId for the MULTIVARIATE campaign","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 1,\n        \"name\": \"New name\",\n        \"isControl\": true,\n        \"isDisabled\": false,\n        \"heatmapThumbUrl\": \"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-40505_7_1_calc-0.png\",\n        \"screenshots\": {\n            \"quick\": \"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/40505/7_1_8cf9ad535ba453c84abd4c38617f93b4.png\"\n        },\n        \"percentSplit\": 50,\n        \"editorData\": {\n            \"stack\": []\n        },\n        \"sectionId\": 1\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"New name"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-40505_7_1_calc-0.png"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/40505/7_1_8cf9ad535ba453c84abd4c38617f93b4.png"}}},"percentSplit":{"type":"integer","example":50,"default":0},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}},"sectionId":{"type":"integer","example":1,"default":0}}}}}}}}},"deprecated":false},"delete":{"summary":"Delete a campaign variation","description":"","operationId":"remove-a-specific-campaign-variation","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"variation_id","in":"path","description":"Use sectionId,variationId for the MULTIVARIATE campaign","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/{campaign_id}/sections":{"get":{"summary":"Get all sections of a campaign","description":"","operationId":"get-all-the-sections-of-a-campaign","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to specify Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": [\n        {\n            \"id\": 1,\n            \"name\": \"Baja Baja\",\n            \"cssSelector\": \"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child\",\n            \"variations\": [\n                {\n                    \"id\": 1,\n                    \"name\": \"Control\",\n                    \"isControl\": true,\n                    \"isDisabled\": false,\n                    \"heatmapThumbUrl\": \"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_2905_1_calc-0.png\",\n                    \"screenshots\": {\n                        \"quick\": \"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/2905_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png\"\n                    },\n                    \"editorData\": {\n                        \"stack\": []\n                    }\n                }\n            ]\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Baja Baja"},"cssSelector":{"type":"string","example":"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child"},"variations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_2905_1_calc-0.png"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/2905_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png"}}},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}}}}}}}}}}}}}},"deprecated":false},"post":{"summary":"Create a campaign section","description":"","operationId":"create-a-campaign-section","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": [\n        {\n            \"id\": 2,\n            \"name\": \"New shiny section\",\n            \"cssSelector\": \"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child\",\n            \"variations\": [\n                {\n                    \"id\": 1,\n                    \"name\": \"Control\",\n                    \"isControl\": true,\n                    \"isDisabled\": false,\n                    \"heatmapThumbUrl\": \"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_2905_1_calc-0.png\",\n                    \"screenshots\": {\n                        \"quick\": \"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/2905_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png\"\n                    },\n                    \"editorData\": {\n                        \"stack\": []\n                    }\n                }\n            ]\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":2,"default":0},"name":{"type":"string","example":"New shiny section"},"cssSelector":{"type":"string","example":"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child"},"variations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_2905_1_calc-0.png"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/2905_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png"}}},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}}}}}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/{campaign_id}/sections/{section_id}":{"get":{"summary":"Get details of a specific campaign section","description":"","operationId":"get-details-of-a-specific-campaign-section","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"section_id","in":"path","description":"Section Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 1,\n        \"name\": \"Baja Baja\",\n        \"cssSelector\": \"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child\",\n        \"variations\": [\n            {\n                \"id\": 1,\n                \"name\": \"Control\",\n                \"isControl\": true,\n                \"isDisabled\": false,\n                \"heatmapThumbUrl\": \"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_2905_1_calc-0.png\",\n                \"screenshots\": {\n                    \"quick\": \"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/2905_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png\"\n                },\n                \"editorData\": {\n                    \"stack\": []\n                }\n            }\n        ]\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Baja Baja"},"cssSelector":{"type":"string","example":"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child"},"variations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_2905_1_calc-0.png"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/2905_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png"}}},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}}}}}}}}}}}}},"deprecated":false},"patch":{"summary":"Update a campaign section","description":"","operationId":"update-a-campaign-section","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"section_id","in":"path","description":"Section Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 1,\n        \"name\": \"New name\",\n        \"cssSelector\": \"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child\",\n        \"variations\": [\n            {\n                \"id\": 1,\n                \"name\": \"Control\",\n                \"isControl\": true,\n                \"isDisabled\": false,\n                \"heatmapThumbUrl\": \"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_2905_1_calc-0.png\",\n                \"screenshots\": {\n                    \"quick\": \"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/2905_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png\"\n                },\n                \"editorData\": {\n                    \"stack\": []\n                }\n            }\n        ]\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"New name"},"cssSelector":{"type":"string","example":"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child"},"variations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_2905_1_calc-0.png"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/2905_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png"}}},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}}}}}}}}}}}}},"deprecated":false},"delete":{"summary":"Delete a campaign section","description":"","operationId":"delete-a-campaign-section","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"section_id","in":"path","description":"Section Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/accounts":{"get":{"summary":"Retrieve all accounts","description":"","operationId":"get-all-sub-accounts","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": [\n    {\n      \"id\": 916,\n      \"name\": \"New account\",\n      \"createdOn\": 1271158169,\n      \"enabled\": true\n    },\n    {\n      \"id\": 874,\n      \"name\": \"Test Account\",\n      \"createdOn\": 1269942600,\n      \"enabled\": true\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":916,"default":0},"name":{"type":"string","example":"New account"},"createdOn":{"type":"integer","example":1271158169,"default":0},"enabled":{"type":"boolean","example":true,"default":true}}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\n\nurl = \"https://app.vwo.com/api/v2/accounts\"\n\nheaders = {\n    'token': \"96ca71826128162811321nnjadsdjnsadkf33c4c03660a2398abd93f60c74ef1b442a434\",\n    'cache-control': \"no-cache\"\n    }\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)"}],"samples-languages":["python"]}},"post":{"summary":"Create a sub-account","description":"","operationId":"create-sub-account","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Sub-account name"}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"id\": 40506,\n    \"name\": \"API Sub Account Name\",\n    \"createdOn\": 1415966384,\n    \"timezone\": \"GMT\"\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":40506,"default":0},"name":{"type":"string","example":"API Sub Account Name"},"createdOn":{"type":"integer","example":1415966384,"default":0},"timezone":{"type":"string","example":"GMT"}}}}}}}}},"deprecated":false}},"/accounts/{account_id}":{"get":{"summary":"Retrieve specific account","description":"","operationId":"get-current-account-information","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"id\": 1,\n    \"name\": \"Main Account\",\n    \"createdOn\": 1257680705,\n    \"timezone\": \"Asia\\/Dhaka\",\n    \"company\": {\n      \"name\": \"\",\n      \"website\": \"\",\n      \"size\": \"\"\n    },\n    \"enabled\": true\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Main Account"},"createdOn":{"type":"integer","example":1257680705,"default":0},"timezone":{"type":"string","example":"Asia/Dhaka"},"company":{"type":"object","properties":{"name":{"type":"string","example":""},"website":{"type":"string","example":""},"size":{"type":"string","example":""}}},"enabled":{"type":"boolean","example":true,"default":true}}}}}}}}},"deprecated":false},"patch":{"summary":"Update account","description":"","operationId":"update-account-information","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Account Name"},"timezone":{"type":"string","description":"Timezone associated with the Account e.g. \\\"Asia\\/Kolkata\\\""},"enabled":{"type":"boolean","description":"Disable/Enable Account"},"company":{"properties":{"name":{"type":"string","description":"Company name associated with the Account"},"website":{"type":"string","description":"Website URL of the Company, if any"},"size":{"type":"string","description":"Choose among these options [\"1-200\",\"201-500\",\"501-1000\",\"1001-2000\",\"2000+\"]"},"industry":{"properties":{"type":{"type":"string","description":"Industry Type of the Company"}},"required":[],"type":"object"}},"required":[],"type":"object"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"name\": \"API Account Name\",\n    \"timezone\": \"Asia\\/Kolkata\",\n    \"enabled\": true,\n    \"company\": {\n      \"name\": \"API Company Name\",\n      \"website\": \"http:\\/\\/wingify.com\",\n      \"size\": \"1-200\",\n      \"industry\": {\n        \"type\": \"saas\"\n      }\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"name":{"type":"string","example":"API Account Name"},"timezone":{"type":"string","example":"Asia/Kolkata"},"enabled":{"type":"boolean","example":true,"default":true},"company":{"type":"object","properties":{"name":{"type":"string","example":"API Company Name"},"website":{"type":"string","example":"http://wingify.com"},"size":{"type":"string","example":"1-200"},"industry":{"type":"object","properties":{"type":{"type":"string","example":"saas"}}}}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/users":{"get":{"summary":"Get all users","description":"","operationId":"current--sub-account-users","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": [\n    {\n      \"id\": 1,\n      \"name\": \"Backend Testing\",\n      \"email\": \"dev+testing@wingify.com\",\n      \"account\": 1,\n      \"permission\": \"Admin\",\n      \"createdOn\": 1257680705,\n      \"phone\": \"FALSE\",\n      \"country\": \"\",\n      \"department\": \"\",\n      \"title\": \"\"\n    },\n    {\n      \"id\": 951,\n      \"name\": \"Browse Only\",\n      \"email\": \"browse-only@wingify.com\",\n      \"permission\": \"Browse\",\n      \"account\": 1,\n      \"createdOn\": 1271320843,\n      \"phone\": \"FALSE\",\n      \"country\": \"\",\n      \"department\": \"\",\n      \"title\": \"\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Backend Testing"},"email":{"type":"string","example":"dev+testing@wingify.com"},"account":{"type":"integer","example":1,"default":0},"permission":{"type":"string","example":"Admin"},"createdOn":{"type":"integer","example":1257680705,"default":0},"phone":{"type":"string","example":"FALSE"},"country":{"type":"string","example":""},"department":{"type":"string","example":""},"title":{"type":"string","example":""}}}}}}}}}},"deprecated":false},"post":{"summary":"Create a user","description":"","operationId":"create-user-in-the-current--sub-account","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"id\": 44350,\n    \"name\": \"Test via API\",\n    \"email\": \"test+api@wingify.com\",\n    \"createdOn\": 1415876399,\n    \"permission\": \"Admin\",\n    \"phone\": \"9999988877\",\n    \"country\": \"India\",\n    \"department\": \"Software Engineering\",\n    \"title\": \"API Evangelist\"\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":44350,"default":0},"name":{"type":"string","example":"Test via API"},"email":{"type":"string","example":"test+api@wingify.com"},"createdOn":{"type":"integer","example":1415876399,"default":0},"permission":{"type":"string","example":"Admin"},"phone":{"type":"string","example":"9999988877"},"country":{"type":"string","example":"India"},"department":{"type":"string","example":"Software Engineering"},"title":{"type":"string","example":"API Evangelist"}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/users/{user_id}":{"get":{"summary":"Get user details","description":"","operationId":"get-specific-user-of-current--sub-account","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"user_id","in":"path","description":"User Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"id\": 874,\n    \"name\": \"Test User\",\n    \"email\": \"test-account@wingify.com\",\n    \"createdOn\": 1269942600,\n    \"permission\": \"Admin\",\n    \"phone\": \"FALSE\",\n    \"country\": \"\",\n    \"department\": \"\",\n    \"title\": \"\"\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":874,"default":0},"name":{"type":"string","example":"Test User"},"email":{"type":"string","example":"test-account@wingify.com"},"createdOn":{"type":"integer","example":1269942600,"default":0},"permission":{"type":"string","example":"Admin"},"phone":{"type":"string","example":"FALSE"},"country":{"type":"string","example":""},"department":{"type":"string","example":""},"title":{"type":"string","example":""}}}}}}}}},"deprecated":false},"patch":{"summary":"Update user details","description":"","operationId":"update-user-of-current--sub-account","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"user_id","in":"path","description":"User Id","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of User"},"phone":{"type":"string","description":"Contact number of User"},"country":{"type":"string","description":"Country of User"},"department":{"type":"string","description":"Work department of User"},"title":{"type":"string","description":"Designation of User"},"permission":{"type":"string","description":"Select the permission of user among \"Browse\",\"Design\",\"Publish\",\"Admin\""}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"id\": 874,\n    \"name\": \"Test User\",\n    \"email\": \"test-account@wingify.com\",\n    \"createdOn\": 1269942600,\n    \"permission\": \"Admin\",\n    \"phone\": \"FALSE\",\n    \"country\": \"\",\n    \"department\": \"\",\n    \"title\": \"\"\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":874,"default":0},"name":{"type":"string","example":"Test User"},"email":{"type":"string","example":"test-account@wingify.com"},"createdOn":{"type":"integer","example":1269942600,"default":0},"permission":{"type":"string","example":"Admin"},"phone":{"type":"string","example":"FALSE"},"country":{"type":"string","example":""},"department":{"type":"string","example":""},"title":{"type":"string","example":""}}}}}}}}},"deprecated":false},"delete":{"summary":"Delete users","description":"","operationId":"delete-user-of-current--sub-account","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"user_id","in":"path","description":"User Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/accounts/{account_id}/smartcode":{"get":{"summary":"Get VWO SmartCode of accounts","description":"","operationId":"get-tracking-code-of-current--sub-account","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"sync\": \"<!-- Start VWO Sync SmartCode -->\\n<script type='text/javascript'>\\nvar _vis_opt_account_id = 8740000;\\nvar _vis_opt_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://');\\ndocument.write('<s' + 'cript src=\\\"' + _vis_opt_protocol +\\n'dev.visualwebsiteoptimizer.com/deploy/js_visitor_settings.php?v=1&a='+_vis_opt_account_id+'&url='\\n+encodeURIComponent(document.URL)+'&random='+Math.random()+'\\\" type=\\\"text/javascript\\\">' + '<\\\\/s' + 'cript>');\\n</script>\\n\\n<script type='text/javascript'>\\nif(typeof(_vis_opt_settings_loaded) == \\\"boolean\\\") { document.write('<s' + 'cript src=\\\"' + _vis_opt_protocol +\\n'd5phz18u4wuww.cloudfront.net/vis_opt.js\\\" type=\\\"text/javascript\\\">' + '<\\\\/s' + 'cript>'); }\\n// if your site already has jQuery 1.4.2, replace vis_opt.js with vis_opt_no_jquery.js above\\n</script>\\n\\n<script type='text/javascript'>\\nif(typeof(_vis_opt_settings_loaded) == \\\"boolean\\\" && typeof(_vis_opt_top_initialize) == \\\"function\\\") {\\n        _vis_opt_top_initialize(); vwo_$(document).ready(function() { _vis_opt_bottom_initialize(); });\\n}\\n</script>\\n<!-- End VWO Sync SmartCode -->\",\n        \"async\": \"<!-- Start VWO Async SmartCode -->\\n<script type='text/javascript'>\\nvar _vwo_code=(function(){\\nvar account_id=8740000,\\nsettings_tolerance=2000,\\nlibrary_tolerance=2500,\\nuse_existing_jquery=false,\\n// DO NOT EDIT BELOW THIS LINE\\nf=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();\\n</script>\\n<!-- End VWO Async Code -->\"\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"sync":{"type":"string","example":"<!-- Start VWO Sync SmartCode -->\n<script type='text/javascript'>\nvar _vis_opt_account_id = 8740000;\nvar _vis_opt_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://');\ndocument.write('<s' + 'cript src=\"' + _vis_opt_protocol +\n'dev.visualwebsiteoptimizer.com/deploy/js_visitor_settings.php?v=1&a='+_vis_opt_account_id+'&url='\n+encodeURIComponent(document.URL)+'&random='+Math.random()+'\" type=\"text/javascript\">' + '<\\/s' + 'cript>');\n</script>\n\n<script type='text/javascript'>\nif(typeof(_vis_opt_settings_loaded) == \"boolean\") { document.write('<s' + 'cript src=\"' + _vis_opt_protocol +\n'd5phz18u4wuww.cloudfront.net/vis_opt.js\" type=\"text/javascript\">' + '<\\/s' + 'cript>'); }\n// if your site already has jQuery 1.4.2, replace vis_opt.js with vis_opt_no_jquery.js above\n</script>\n\n<script type='text/javascript'>\nif(typeof(_vis_opt_settings_loaded) == \"boolean\" && typeof(_vis_opt_top_initialize) == \"function\") {\n        _vis_opt_top_initialize(); vwo_$(document).ready(function() { _vis_opt_bottom_initialize(); });\n}\n</script>\n<!-- End VWO Sync SmartCode -->"},"async":{"type":"string","example":"<!-- Start VWO Async SmartCode -->\n<script type='text/javascript'>\nvar _vwo_code=(function(){\nvar account_id=8740000,\nsettings_tolerance=2000,\nlibrary_tolerance=2500,\nuse_existing_jquery=false,\n// DO NOT EDIT BELOW THIS LINE\nf=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();\n</script>\n<!-- End VWO Async Code -->"}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/thresholds":{"get":{"summary":"Get account thresholds","description":"","operationId":"current--sub-account-thresholds","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"winningPercent\": 95,\n    \"losingPercent\": 5,\n    \"visitors\": 20\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"winningPercent":{"type":"integer","example":95,"default":0},"losingPercent":{"type":"integer","example":5,"default":0},"visitors":{"type":"integer","example":20,"default":0}}}}}}}}},"deprecated":false},"patch":{"summary":"Update account thresholds","description":"","operationId":"update-account-thresholds","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"winningPercent":{"type":"integer","description":"Winning Percent","format":"int32"},"losingPercent":{"type":"integer","description":"Losing Percent","format":"int32"},"visitors":{"type":"integer","description":"Number of visitors","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"winningPercent\": 95,\n    \"losingPercent\": 5,\n    \"visitors\": 21\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"winningPercent":{"type":"integer","example":95,"default":0},"losingPercent":{"type":"integer","example":5,"default":0},"visitors":{"type":"integer","example":21,"default":0}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/integrations":{"get":{"summary":"Get integration settings of Current / Sub Account","description":"","operationId":"third-party-integrations-of-current--sub-account","parameters":[{"name":"account_id","in":"path","description":"Account Id","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"ga\": {\n      \"enabled\": false,\n      \"slot\": 4,\n      \"prefix\": \"\"\n    },\n    \"clicktale\": {\n      \"enabled\": false\n    },\n    \"ua\": {\n      \"enabled\": false,\n      \"dimension\": 1,\n      \"prefix\": \"\"\n    },\n    \"gtm\": {\n      \"enabled\": false\n    },\n    \"isGaPremium\": false\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"ga":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true},"slot":{"type":"integer","example":4,"default":0},"prefix":{"type":"string","example":""}}},"clicktale":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true}}},"ua":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true},"dimension":{"type":"integer","example":1,"default":0},"prefix":{"type":"string","example":""}}},"gtm":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true}}},"isGaPremium":{"type":"boolean","example":false,"default":true}}}}}}}}},"deprecated":false},"patch":{"summary":"Update integration settings for specific account","description":"","operationId":"update-third-party-integrations-for-account","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"ga":{"properties":{"":{"type":"array","description":"Information regarding Google Analytics","items":{"type":"string"}},"enabled":{"type":"boolean","description":"Google Analytics whether enabled or not"},"slot":{"type":"integer","description":"Google Analytics Slot","format":"int32"},"prefix":{"type":"string","description":"Google Analytics Account prefix"}},"required":[],"type":"object"},"ua":{"properties":{"":{"type":"array","description":"Universal Analytics Settings","items":{"type":"string"}},"enabled":{"type":"string","description":"Universal Analytics whether enabled or not"},"dimension":{"type":"string","description":"Custom Dimension used inside Google Analytics"},"prefix":{"type":"string","description":"Google Analytics Account prefix"}},"required":[],"type":"object"},"gtm":{"properties":{"":{"type":"string","description":"Settings for Google Tag Manager"},"enabled":{"type":"boolean","description":"Google Tag Manager whether enabled or not"}},"required":[],"type":"object"},"clicktale":{"properties":{"":{"type":"array","description":"ClickTale Settings","items":{"type":"string"}},"enabled":{"type":"boolean","description":"Clicktale whether enabled or not"}},"required":[],"type":"object"},"isGaPremium":{"type":"boolean","description":"Whether Google Analytics is premium"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"ga\": {\n      \"enabled\": true,\n      \"slot\": 4,\n      \"prefix\": \"\"\n    },\n    \"ua\": {\n      \"enabled\": false,\n      \"dimension\": 1,\n      \"prefix\": \"\"\n    },\n    \"gtm\": {\n      \"enabled\": false\n    },\n    \"clicktale\": {\n      \"enabled\": false\n    },\n    \"isGaPremium\": false\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"ga":{"type":"object","properties":{"enabled":{"type":"boolean","example":true,"default":true},"slot":{"type":"integer","example":4,"default":0},"prefix":{"type":"string","example":""}}},"ua":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true},"dimension":{"type":"integer","example":1,"default":0},"prefix":{"type":"string","example":""}}},"gtm":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true}}},"clicktale":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true}}},"isGaPremium":{"type":"boolean","example":false,"default":true}}}}}}}}},"deprecated":false}},"/accounts/billing-details":{"get":{"summary":"Get billing details of accounts","description":"","operationId":"billing-details-of-account","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"paymentProcessor\": \"2Checkout\",\n    \"customerName\": \"\",\n    \"billingAddress\": \"<br \\/>\",\n    \"changeBillingUrl\": \"https:\\/\\/www.2checkout.com\\/va\\/sales\\/customer\\/change_billing_method?sale_id=4491073920\",\n    \"creditCardNumber\": \"-XXXX-XXXX-XX\",\n    \"paymentMethod\": \"credit-card\"\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"paymentProcessor":{"type":"string","example":"2Checkout"},"customerName":{"type":"string","example":""},"billingAddress":{"type":"string","example":"<br />"},"changeBillingUrl":{"type":"string","example":"https://www.2checkout.com/va/sales/customer/change_billing_method?sale_id=4491073920"},"creditCardNumber":{"type":"string","example":"-XXXX-XXXX-XX"},"paymentMethod":{"type":"string","example":"credit-card"}}}}}}}}},"deprecated":false}},"/accounts/billing-cycles":{"get":{"summary":"Get billing cycle details of accounts","description":"","operationId":"billing-cycle-details-of-current--sub-account","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": [\n    {\n      \"id\": 1,\n      \"from\": 1271924465,\n      \"to\": 1275264000,\n      \"visitorsAllowed\": 101000,\n      \"invoice\": null,\n      \"plan\": {\n        \"id\": 1,\n        \"type\": \"FREE\",\n        \"price\": 0,\n        \"description\": \"Free account for existing beta users\",\n        \"isEnterprise\": false,\n        \"totalVisitors\": 100000,\n        \"isUnlimitedPlan\": false,\n        \"isTopVisitorPlan\": false\n      },\n      \"isCurrent\": false,\n      \"visitorsUsed\": 7,\n      \"usages\": [\n        {\n          \"account\": 1,\n          \"visitorsUsed\": 7\n        },\n        {\n          \"account\": 874,\n          \"visitorsUsed\": 0\n        },\n        {\n          \"account\": 916,\n          \"visitorsUsed\": 0\n        },\n        {\n          \"account\": 1413,\n          \"visitorsUsed\": 0\n        },\n        {\n          \"account\": 2904,\n          \"visitorsUsed\": 0\n        }\n      ]\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"from":{"type":"integer","example":1271924465,"default":0},"to":{"type":"integer","example":1275264000,"default":0},"visitorsAllowed":{"type":"integer","example":101000,"default":0},"invoice":{},"plan":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"type":{"type":"string","example":"FREE"},"price":{"type":"integer","example":0,"default":0},"description":{"type":"string","example":"Free account for existing beta users"},"isEnterprise":{"type":"boolean","example":false,"default":true},"totalVisitors":{"type":"integer","example":100000,"default":0},"isUnlimitedPlan":{"type":"boolean","example":false,"default":true},"isTopVisitorPlan":{"type":"boolean","example":false,"default":true}}},"isCurrent":{"type":"boolean","example":false,"default":true},"visitorsUsed":{"type":"integer","example":7,"default":0},"usages":{"type":"array","items":{"type":"object","properties":{"account":{"type":"integer","example":1,"default":0},"visitorsUsed":{"type":"integer","example":7,"default":0}}}}}}}}}}}}},"deprecated":false}},"/accounts/invoice":{"get":{"summary":"Get account invoices","description":"","operationId":"get-invoices-of-account","parameters":[{"name":"billing-cycle","in":"query","description":"Use the Billing Cycle Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"text/plain":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/accounts/{account_id}/labels":{"get":{"summary":"Get labels","description":"","operationId":"current--sub-account-labels","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": [\n    {\n      \"id\": 1,\n      \"name\": \"Demo\"\n    },\n    {\n      \"id\": 2,\n      \"name\": \"Real\"\n    },\n    {\n      \"id\": 3,\n      \"name\": \"Personal\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Demo"}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/{campaign_id}/labels":{"get":{"summary":"Get labels of a specific campaign","description":"","operationId":"get-all-the-labels-associated-with-a-campaign","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": [\n        {\n            \"id\": 1,\n            \"name\": \"Demo\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Demo"}}}}}}}}}},"deprecated":false},"post":{"summary":"Add labels to a campaign","description":"","operationId":"add-labels-to-a-campaign","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": [\n        {\n            \"id\": 1,\n            \"name\": \"Demo\"\n        },\n        {\n            \"id\": 2,\n            \"name\": \"Real\"\n        },\n        {\n            \"id\": 4,\n            \"name\": \"New shiny label\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Demo"}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/{campaign_id}/labels/{label_id}":{"delete":{"summary":"Delete a campaign label","description":"","operationId":"delete-a-campaign-label","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"label_id","in":"path","description":"Label Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/accounts/partners":{"get":{"summary":"Get partner details","description":"","operationId":"partner-details-of-account","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"freeUsers\": 1,\n    \"paidUsers\": 1,\n    \"sales\": 49,\n    \"commissionPercent\": \"0.15\",\n    \"totalCommission\": 7.35,\n    \"commissionDisbursed\": 12.35,\n    \"referralCode\": \"pc\"\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"freeUsers":{"type":"integer","example":1,"default":0},"paidUsers":{"type":"integer","example":1,"default":0},"sales":{"type":"integer","example":49,"default":0},"commissionPercent":{"type":"string","example":"0.15"},"totalCommission":{"type":"number","example":7.35,"default":0},"commissionDisbursed":{"type":"number","example":12.35,"default":0},"referralCode":{"type":"string","example":"pc"}}}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}