{"openapi":"3.1.0","info":{"title":"api","version":"4"},"servers":[{"url":"https://app.vwo.com/api/v2"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"token"}}},"security":[{"sec0":[]}],"paths":{"/accounts":{"get":{"summary":"Retrieve all workspaces","description":"","operationId":"get-all-sub-accounts","parameters":[{"name":"includeCurrent","in":"query","description":"Use 'true' to include the currently authenticated workspace in the response. By default, only secondary workspaces are returned.","schema":{"type":"string","default":"false"}},{"name":"status","in":"query","description":"Use 'active' to return only active workspace. Use 'disabled' to return only disabled workspace. By default, all workspaces are returned.","schema":{"type":"string","default":"all"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": [\n    {\n      \"id\": 916,\n      \"name\": \"New account\",\n      \"createdOn\": 1271158169,\n      \"enabled\": true\n    },\n    {\n      \"id\": 874,\n      \"name\": \"Test Account\",\n      \"createdOn\": 1269942600,\n      \"enabled\": true\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":916,"default":0},"name":{"type":"string","example":"New account"},"createdOn":{"type":"integer","example":1271158169,"default":0},"enabled":{"type":"boolean","example":true,"default":true}}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\n\nurl = \"https://app.vwo.com/api/v2/accounts?includeCurrent=false&status=all\"\n\nheaders = {\n    'token': \"96ca71826128162811321nnjadsdjnsadkf33c4c03660a2398abd93f60c74ef1b442a434\",\n    'cache-control': \"no-cache\"\n    }\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)"}],"samples-languages":["python"]}},"post":{"summary":"Create a workspace","description":"","operationId":"create-sub-account","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Workspace name"}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"id\": 40506,\n    \"name\": \"API Sub Account Name\",\n    \"createdOn\": 1415966384,\n    \"timezone\": \"GMT\"\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":40506,"default":0},"name":{"type":"string","example":"API Sub Account Name"},"createdOn":{"type":"integer","example":1415966384,"default":0},"timezone":{"type":"string","example":"GMT"}}}}}}}}},"deprecated":false}},"/accounts/{account_id}":{"get":{"summary":"Retrieve specific workspace","description":"","operationId":"get-current-account-information","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"id\": 1,\n    \"name\": \"Main Account\",\n    \"createdOn\": 1257680705,\n    \"timezone\": \"Asia\\/Dhaka\",\n    \"company\": {\n      \"name\": \"\",\n      \"website\": \"\",\n      \"size\": \"\"\n    },\n    \"enabled\": true\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Main Account"},"createdOn":{"type":"integer","example":1257680705,"default":0},"timezone":{"type":"string","example":"Asia/Dhaka"},"company":{"type":"object","properties":{"name":{"type":"string","example":""},"website":{"type":"string","example":""},"size":{"type":"string","example":""}}},"enabled":{"type":"boolean","example":true,"default":true}}}}}}}}},"deprecated":false},"patch":{"summary":"Update workspace","description":"","operationId":"update-account-information","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Workspace Name"},"timezone":{"type":"string","description":"Timezone associated with the Workspace e.g. \\\"Asia\\/Kolkata\\\""},"enabled":{"type":"boolean","description":"Disable/Enable Workspace"},"company":{"properties":{"name":{"type":"string","description":"Company name associated with the Workspace"},"website":{"type":"string","description":"Website URL of the Company, if any"},"size":{"type":"string","description":"Choose among these options [\"1-200\",\"201-500\",\"501-1000\",\"1001-2000\",\"2000+\"]"},"industry":{"properties":{"type":{"type":"string","description":"Industry Type of the Company"}},"required":[],"type":"object"}},"required":[],"type":"object"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"name\": \"API Account Name\",\n    \"timezone\": \"Asia\\/Kolkata\",\n    \"enabled\": true,\n    \"company\": {\n      \"name\": \"API Company Name\",\n      \"website\": \"http:\\/\\/wingify.com\",\n      \"size\": \"1-200\",\n      \"industry\": {\n        \"type\": \"saas\"\n      }\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"name":{"type":"string","example":"API Account Name"},"timezone":{"type":"string","example":"Asia/Kolkata"},"enabled":{"type":"boolean","example":true,"default":true},"company":{"type":"object","properties":{"name":{"type":"string","example":"API Company Name"},"website":{"type":"string","example":"http://wingify.com"},"size":{"type":"string","example":"1-200"},"industry":{"type":"object","properties":{"type":{"type":"string","example":"saas"}}}}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/feeds":{"get":{"summary":"Retrieve timeline feeds of a workspace","description":"","operationId":"retrieve-account-timeline","parameters":[{"name":"limit","in":"query","description":"Limit the number of feeds to be returned. Maximum allowed value is 100. If value greater than 100 is passed, default value will be used.","schema":{"type":"integer","format":"int32","default":100}},{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main workspace or the Integer Workspace Id","schema":{"type":"string"},"required":true},{"name":"offset","in":"query","description":"Offset where feeds should be fetched from","schema":{"type":"integer","format":"int32","default":0}},{"name":"startTime","in":"query","description":"UTC timestamp in epoch seconds for filtering the feeds (e.g. 1609459200 for 1st January 2021)","schema":{"type":"integer","format":"int32"}},{"name":"endTime","in":"query","description":"UTC timestamp in epoch seconds for filtering the feeds (e.g. 1609545600 for 1st February 2021)","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": [\n    {\n      \"id\": 45074523,\n      \"type\": \"campaign\",\n      \"what\": \"Campaign <b>started</b>\",\n      \"when\": \"1610799200\",\n      \"who\": {\n        \"name\": \"John Doe\"\n      },\n      \"campaign\": {\n        \"id\": 324,\n        \"name\": \"Campaign 324\",\n        \"platform\": \"website\",\n        \"type: \"ab\"\n    \t}\n    },\n    {\n      \"id\": 45064783,\n      \"type\": \"campaign\",\n      \"what\": \"Campaign created with 2 variations and 1 goal\",\n      \"when\": \"1609999200\",\n      \"who\": {\n        \"name\": \"John Doe\"\n      },\n      \"campaign\": {\n        \"id\": 324,\n        \"name\": \"Campaign 324\",\n        \"platform\": \"website\",\n        \"type: \"ab\"\n      }\n    },\n    {\n      \"id\": 45051543,\n      \"type\": \"Account\",\n      \"what\": \"Timezone changed from GMT to Asia/Kolkata for account Main Account (ID: 112233)\",\n      \"when\": \"1609599200\",\n      \"who\": {\n        \"name\": \"John Doe\"\n      }\n    }\n  ]\n}"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"import requests\n\nurl = \"https://app.vwo.com/api/v2/accounts/current/feeds?limit=25&offset=0&startTime=1609459200&endTime=1609545600\"\n\nheaders = {\n    'token': \"96ca71826128162811321nnjadsdjnsadkf33c4c03660a2398abd93f60c74ef1b442a434\",\n    'cache-control': \"no-cache\"\n    }\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)"}],"samples-languages":["python"]}}},"/accounts/{account_id}/drafts":{"get":{"summary":"Get all drafts campaigns","description":"","operationId":"get-drafts-of-current--sub-account","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": [\n    {\n      \"draftId\": 14597,\n      \"type\": \"ab\",\n      \"status\": \"draft\",\n      \"platform\": \"website\",\n      \"createdOn\": 1412649106,\n      \"currentDraftStepIndex\": 2,\n      \"name\": \"Campaign 142\",\n      \"urls\": [\n        {\n          \"value\": \"http:\\/\\/wingify.com\"\n        }\n      ],\n      \"createdBy\": {\n        \"id\": 1,\n        \"name\": \"Backend Testing\"\n      }\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"draftId":{"type":"integer","example":14597,"default":0},"type":{"type":"string","example":"ab"},"status":{"type":"string","example":"draft"},"platform":{"type":"string","example":"website"},"createdOn":{"type":"integer","example":1412649106,"default":0},"currentDraftStepIndex":{"type":"integer","example":2,"default":0},"name":{"type":"string","example":"Campaign 142"},"urls":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","example":"http://wingify.com"}}}},"createdBy":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Backend Testing"}}}}}}}}}}}},"deprecated":false},"post":{"summary":"Create a draft","description":"","operationId":"create-draft-in-current--sub-account","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id","required":true,"schema":{"type":"string","default":"current"}}],"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"draftId\": 14599,\n    \"createdOn\": 1416225457,\n    \"createdBy\": {\n      \"id\": 1,\n      \"name\": \"Backend Testing\"\n    },\n    \"newCampaignName\": \"Campaign 142\"\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"draftId":{"type":"integer","example":14599,"default":0},"createdOn":{"type":"integer","example":1416225457,"default":0},"createdBy":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Backend Testing"}}},"newCampaignName":{"type":"string","example":"Campaign 142"}}}}}}}}},"deprecated":false,"security":[]}},"/accounts/{account_id}/drafts/{draft_id}":{"get":{"summary":"Get specific draft campaign","description":"","operationId":"get-drafts-of-current--sub-account-1","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"draft_id","in":"path","description":"Draft Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"draftId\": 14597,\n    \"createdBy\": 1,\n    \"platform\": \"website\",\n    \"isAdvancedMode\": false,\n    \"currentDraftStepIndex\": 2,\n    \"type\": \"ab\",\n    \"urls\": [\n      {\n        \"type\": \"url\",\n        \"value\": \"http:\\/\\/wingify.com\"\n      }\n    ],\n    \"primaryUrl\": \"http:\\/\\/wingify.com\",\n    \"globalSegment\": {\n      \"segmentationType\": \"pre\",\n      \"platform\": \"website\",\n      \"id\": \"1\",\n      \"type\": \"predefined\",\n      \"name\": \"Direct\",\n      \"description\": \"Segment to allow only direct traffic\"\n    },\n    \"variations\": [\n      {\n        \"platform\": \"website\",\n        \"id\": 1,\n        \"name\": \"Control\",\n        \"editorData\": {\n          \"stack\": []\n        },\n        \"deployContent\": []\n      },\n      {\n        \"platform\": \"website\",\n        \"id\": 2,\n        \"name\": \"Variation 1\",\n        \"editorData\": {\n          \"stack\": [\n            {\n              \"el\": 0,\n              \"op\": {\n                \"opName\": \"html\",\n                \"html\": \"The company  pioneered easy A\\/B testing\"\n              },\n              \"depending\": false,\n              \"XPath\": \"BODY > NOSCRIPT:first-child + SCRIPT + HEADER#top_header + SECTION > DIV:first-child > DIV:first-child > H2:first-child\",\n              \"parentTag\": \"DIV\"\n            }\n          ]\n        },\n        \"deployContent\": [\n          {\n            \"jsString\": \"var ctx=vwo_$(x);ctx.html(\\\"The company  pioneered easy A\\/B testing\\\");\",\n            \"cssSelector\": \"HEADER#top_header + SECTION > DIV:first-child > DIV:first-child > H2:first-child\"\n          }\n        ]\n      }\n    ],\n    \"status\": \"draft\",\n    \"goals\": [\n      {\n        \"id\": 1,\n        \"name\": \"Goal 1\",\n        \"type\": \"visitPage\",\n        \"isPrimary\": true,\n        \"urls\": [\n          {\n            \"type\": \"url\",\n            \"value\": \"http:\\/\\/wingify.com\"\n          }\n        ],\n        \"cssSelectors\": []\n      }\n    ],\n    \"name\": \"Campaign 142\",\n    \"newCampaignName\": \"Campaign 142\",\n    \"percentTraffic\": 100,\n    \"isHeatmapEnabled\": true\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"draftId":{"type":"integer","example":14597,"default":0},"createdBy":{"type":"integer","example":1,"default":0},"platform":{"type":"string","example":"website"},"isAdvancedMode":{"type":"boolean","example":false,"default":true},"currentDraftStepIndex":{"type":"integer","example":2,"default":0},"type":{"type":"string","example":"ab"},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"primaryUrl":{"type":"string","example":"http://wingify.com"},"globalSegment":{"type":"object","properties":{"segmentationType":{"type":"string","example":"pre"},"platform":{"type":"string","example":"website"},"id":{"type":"string","example":"1"},"type":{"type":"string","example":"predefined"},"name":{"type":"string","example":"Direct"},"description":{"type":"string","example":"Segment to allow only direct traffic"}}},"variations":{"type":"array","items":{"type":"object","properties":{"platform":{"type":"string","example":"website"},"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}},"deployContent":{"type":"array"}}}},"status":{"type":"string","example":"draft"},"goals":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Goal 1"},"type":{"type":"string","example":"visitPage"},"isPrimary":{"type":"boolean","example":true,"default":true},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"cssSelectors":{"type":"array"}}}},"name":{"type":"string","example":"Campaign 142"},"newCampaignName":{"type":"string","example":"Campaign 142"},"percentTraffic":{"type":"integer","example":100,"default":0},"isHeatmapEnabled":{"type":"boolean","example":true,"default":true}}}}}}}}},"deprecated":false},"patch":{"summary":"Update draft campaigns","description":"","operationId":"update-draft-of-current--sub-account","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"draft_id","in":"path","description":"Draft Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"draftId\": 14597,\n    \"createdOn\": 1416225457,\n    \"createdBy\": {\n      \"id\": 1,\n      \"name\": \"Backend Testing\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"draftId":{"type":"integer","example":14597,"default":0},"createdOn":{"type":"integer","example":1416225457,"default":0},"createdBy":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Backend Testing"}}}}}}}}}}},"deprecated":false},"delete":{"summary":"Delete draft campaigns","description":"","operationId":"delete-draft-of-current--sub-account","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"draft_id","in":"path","description":"Draft Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"204","content":{"text/plain":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns":{"get":{"summary":"Get all campaigns in a workspace","description":"","operationId":"get-the-campaigns-of-an-account","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"limit","in":"query","description":"Limit the number of campaigns to be returned","schema":{"type":"integer","format":"int32","default":25}},{"name":"offset","in":"query","description":"Offset where campaign should be fetched from","schema":{"type":"string","default":"0"}},{"name":"type","in":"query","description":"Get campaigns on the basis of campaign-type","schema":{"type":"string","enum":["ab","multivariate","split","targeting","heatmap","conversion","usability","survey","analysis","analyze-heatmap","recording","form-analysis","mobile-ab","server-ab","feature-rollout","feature-test","experience"]}},{"name":"platform","in":"query","description":"Get campaigns for a particular platform.","schema":{"type":"string","enum":["website","full-stack","mobile-app"]}},{"name":"label","in":"query","description":"Comma-separated list of labels to filter out campaigns","schema":{"type":"string"}},{"name":"showDetailedInfo","in":"query","description":"Get information related to campaign segmentation, schedules, variations info, and notes along with other data for all the campaigns","schema":{"type":"boolean"}},{"name":"projectId","in":"query","description":"*(only for FullStack campaigns) Get all campaigns that are using a particular project","schema":{"type":"integer","format":"int32"}},{"name":"sdkKey","in":"query","description":"*(only for FullStack campaigns) Get all campaigns which are using a particular environment of a project having this sdk-key","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        [{\n            \"id\": 7,\n            \"name\": \"Campaign 35\",\n            \"type\": \"ab\",\n            \"platform\": \"website\",\n            \"status\": \"NOT_STARTED\",\n            \"createdOn\": 1417421529,\n            \"isDeleted\": false,\n            \"createdBy\": {\n                \"id\": 44349,\n                \"name\": \"Sample\",\n                \"imageUrl\": \"//gravatar.com/avatar/f4fedd3b67d066bfcce237a11da14825?s=24&d=https%3A%2F%2Fapp.vwo.com%2Fassets%2Fimages%2Favatar-new.png\"\n            },\n            \"primaryUrl\": \"http://wingify.com\",\n            \"urls\": [{\n                \"type\": \"url\",\n                \"value\": \"http://wingify.com\"\n            }],\n            \"labels\": [],\n            \"goals\": {\n                \"partialCollection\": [{\n                    \"id\": 2,\n                    \"isPrimary\": true,\n                    \"name\": \"New name\",\n                    \"type\": \"visitPage\",\n                    \"averageData\": []\n                }],\n                \"offset\": 0,\n                \"totalCount\": 3\n            },\n            \"primaryGoal\": 2,\n            \"variations\": {\n                \"partialCollection\": [],\n                \"totalCount\": 3\n            }\n        }]\n    }\n}"}}}}}},"deprecated":false},"post":{"summary":"Create a campaign","description":"","operationId":"create-a-campaign","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}}],"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 15,\n        \"status\": \"NOT_STARTED\",\n        \"goals\": [\n            {\n                \"id\": 1,\n                \"name\": \"New goal\"\n            }\n        ]\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":15,"default":0},"status":{"type":"string","example":"NOT_STARTED"},"goals":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"New goal"}}}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/{campaign_id}":{"get":{"summary":"Get details of a specific campaign","description":"","operationId":"get-details-of-a-specific-campaign","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"id\": 7,\n    \"name\": \"Campaign 7\",\n    \"type\": \"ab\",\n    \"status\": \"NOT_STARTED\",\n    \"createdOn\": 1472036883,\n    \"labels\": [],\n    \"percentTraffic\": 100,\n    \"createdBy\": {\n      \"id\": 40505,\n      \"name\": \"Sample\",\n      \"imageUrl\": \"*****\"\n    },\n    \"urls\": [\n      {\n        \"type\": \"url\",\n        \"value\": \"http://wingify.com\"\n      }\n    ],\n    \"excludedUrls\": [],\n    \"primaryUrl\": \"http://wingify.com\",\n    \"integrations\": {\n      \"ga\": {\n        \"enabled\": false,\n        \"slot\": 4,\n        \"prefix\": \"\"\n      },\n      \"clicktale\": {\n        \"enabled\": false\n      },\n      \"ua\": {\n        \"enabled\": false,\n        \"dimension\": 1,\n        \"prefix\": \"\"\n      },\n      \"gtm\": {\n        \"enabled\": false\n      }\n    },\n    \"thresholds\": {\n      \"winningPercent\": 0.95,\n      \"losingPercent\": 0.05,\n      \"visitors\": 20\n    },\n    \"device\": \"desktop\",\n    \"variations\": [\n      {\n        \"id\": 1,\n        \"name\": \"Control\",\n        \"isControl\": true,\n        \"isDisabled\": false,\n        \"heatmapThumbUrl\": \"<url>\",\n        \"screenshots\": {\n          \"quick\": \"<url>\"\n        },\n        \"percentSplit\": 100,\n        \"editorData\": {\n          \"stack\": null\n        },\n        \"isBase\": true\n      }\n    ],\n    \"goals\": [\n      {\n        \"id\": 1,\n        \"isPrimary\": true,\n        \"name\": \"New goal\",\n        \"excludedUrls\": [],\n        \"isCreatedInEditor\": false,\n        \"type\": \"visitPage\",\n        \"urls\": [\n          {\n            \"type\": \"url\",\n            \"value\": \"http://wingify.com\"\n          }\n        ],\n        \"averageData\": []\n      }\n    ],\n    \"dataIntervalRange\": [],\n    \"variationGoalData\": [],\n    \"schedules\": [],\n    \"isCrossDomainEnabled\": false,\n    \"stats\": {\n      \"conversionRate\": \"0.05\",\n      \"liftInConversionRate\": \"0.05\",\n      \"certaintyMode\": \"0.01\",\n      \"expectedMonthlyVisitors\": 300000,\n      \"expectedRevenuePerVisitor\": \"2\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":7,"default":0},"name":{"type":"string","example":"Campaign 7"},"type":{"type":"string","example":"ab"},"status":{"type":"string","example":"NOT_STARTED"},"createdOn":{"type":"integer","example":1472036883,"default":0},"labels":{"type":"array"},"percentTraffic":{"type":"integer","example":100,"default":0},"createdBy":{"type":"object","properties":{"id":{"type":"integer","example":40505,"default":0},"name":{"type":"string","example":"Sample"},"imageUrl":{"type":"string","example":"*****"}}},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"excludedUrls":{"type":"array"},"primaryUrl":{"type":"string","example":"http://wingify.com"},"integrations":{"type":"object","properties":{"ga":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true},"slot":{"type":"integer","example":4,"default":0},"prefix":{"type":"string","example":""}}},"clicktale":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true}}},"ua":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true},"dimension":{"type":"integer","example":1,"default":0},"prefix":{"type":"string","example":""}}},"gtm":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true}}}}},"thresholds":{"type":"object","properties":{"winningPercent":{"type":"number","example":0.95,"default":0},"losingPercent":{"type":"number","example":0.05,"default":0},"visitors":{"type":"integer","example":20,"default":0}}},"device":{"type":"string","example":"desktop"},"variations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"<url>"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"<url>"}}},"percentSplit":{"type":"integer","example":100,"default":0},"editorData":{"type":"object","properties":{"stack":{}}},"isBase":{"type":"boolean","example":true,"default":true}}}},"goals":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"isPrimary":{"type":"boolean","example":true,"default":true},"name":{"type":"string","example":"New goal"},"excludedUrls":{"type":"array"},"isCreatedInEditor":{"type":"boolean","example":false,"default":true},"type":{"type":"string","example":"visitPage"},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"averageData":{"type":"array"}}}},"dataIntervalRange":{"type":"array"},"variationGoalData":{"type":"array"},"schedules":{"type":"array"},"isCrossDomainEnabled":{"type":"boolean","example":false,"default":true},"stats":{"type":"object","properties":{"conversionRate":{"type":"string","example":"0.05"},"liftInConversionRate":{"type":"string","example":"0.05"},"certaintyMode":{"type":"string","example":"0.01"},"expectedMonthlyVisitors":{"type":"integer","example":300000,"default":0},"expectedRevenuePerVisitor":{"type":"string","example":"2"}}}}}}}}}}},"deprecated":false},"patch":{"summary":"Update a campaign","description":"","operationId":"update-a-campaign","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_data\": {\n    \"id\": 15,\n    \"name\": \"New name\",\n    \"type\": \"ab\",\n    \"status\": \"NOT_STARTED\",\n    \"createdOn\": 1472631589,\n    \"labels\": [],\n    \"percentTraffic\": 100,\n    \"createdBy\": {\n      \"id\": 40505,\n      \"name\": \"Sample\",\n      \"imageUrl\": \"*****\"\n    },\n    \"urls\": [\n      {\n        \"type\": \"url\",\n        \"value\": \"http://wingify.com\"\n      }\n    ],\n    \"excludedUrls\": [],\n    \"primaryUrl\": \"http://wingify.com\",\n    \"integrations\": {\n      \"ga\": {\n        \"enabled\": false,\n        \"slot\": 4,\n        \"prefix\": \"\"\n      },\n      \"clicktale\": {\n        \"enabled\": false\n      },\n      \"ua\": {\n        \"enabled\": false,\n        \"dimension\": 1,\n        \"prefix\": \"\"\n      },\n      \"gtm\": {\n        \"enabled\": false\n      }\n    },\n    \"thresholds\": {\n      \"winningPercent\": 0.95,\n      \"losingPercent\": 0.05,\n      \"visitors\": 20\n    },\n    \"device\": \"desktop\",\n    \"variations\": [\n      {\n        \"id\": 1,\n        \"name\": \"Control\",\n        \"isControl\": true,\n        \"isDisabled\": false,\n        \"heatmapThumbUrl\": \"<url>\",\n        \"screenshots\": {\n          \"quick\": \"<url>\"\n        },\n        \"percentSplit\": 100,\n        \"editorData\": {\n          \"stack\": null\n        },\n        \"isBase\": true\n      }\n    ],\n    \"goals\": [\n      {\n        \"id\": 1,\n        \"isPrimary\": true,\n        \"name\": \"New goal\",\n        \"excludedUrls\": [],\n        \"isCreatedInEditor\": false,\n        \"type\": \"visitPage\",\n        \"urls\": [\n          {\n            \"type\": \"url\",\n            \"value\": \"http://wingify.com\"\n          }\n        ],\n        \"averageData\": []\n      }\n    ],\n    \"dataIntervalRange\": [],\n    \"variationGoalData\": [],\n    \"schedules\": [],\n    \"stats\": {\n      \"conversionRate\": \"0.05\",\n      \"liftInConversionRate\": \"0.05\",\n      \"certaintyMode\": \"0.01\",\n      \"expectedMonthlyVisitors\": 300000,\n      \"expectedRevenuePerVisitor\": \"2\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":15,"default":0},"name":{"type":"string","example":"New name"},"type":{"type":"string","example":"ab"},"status":{"type":"string","example":"NOT_STARTED"},"createdOn":{"type":"integer","example":1472631589,"default":0},"labels":{"type":"array"},"percentTraffic":{"type":"integer","example":100,"default":0},"createdBy":{"type":"object","properties":{"id":{"type":"integer","example":40505,"default":0},"name":{"type":"string","example":"Sample"},"imageUrl":{"type":"string","example":"*****"}}},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"excludedUrls":{"type":"array"},"primaryUrl":{"type":"string","example":"http://wingify.com"},"integrations":{"type":"object","properties":{"ga":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true},"slot":{"type":"integer","example":4,"default":0},"prefix":{"type":"string","example":""}}},"clicktale":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true}}},"ua":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true},"dimension":{"type":"integer","example":1,"default":0},"prefix":{"type":"string","example":""}}},"gtm":{"type":"object","properties":{"enabled":{"type":"boolean","example":false,"default":true}}}}},"thresholds":{"type":"object","properties":{"winningPercent":{"type":"number","example":0.95,"default":0},"losingPercent":{"type":"number","example":0.05,"default":0},"visitors":{"type":"integer","example":20,"default":0}}},"device":{"type":"string","example":"desktop"},"variations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"<url>"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"<url>"}}},"percentSplit":{"type":"integer","example":100,"default":0},"editorData":{"type":"object","properties":{"stack":{}}},"isBase":{"type":"boolean","example":true,"default":true}}}},"goals":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"isPrimary":{"type":"boolean","example":true,"default":true},"name":{"type":"string","example":"New goal"},"excludedUrls":{"type":"array"},"isCreatedInEditor":{"type":"boolean","example":false,"default":true},"type":{"type":"string","example":"visitPage"},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"averageData":{"type":"array"}}}},"dataIntervalRange":{"type":"array"},"variationGoalData":{"type":"array"},"schedules":{"type":"array"},"stats":{"type":"object","properties":{"conversionRate":{"type":"string","example":"0.05"},"liftInConversionRate":{"type":"string","example":"0.05"},"certaintyMode":{"type":"string","example":"0.01"},"expectedMonthlyVisitors":{"type":"integer","example":300000,"default":0},"expectedRevenuePerVisitor":{"type":"string","example":"2"}}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/{campaign_id}/share":{"get":{"summary":"Get share link for a specific campaign","description":"","operationId":"get-share-link-for-a-specific-campaign","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"shareLink\": \"https://app.vwo.com/#/campaign/1/summary?token=token\"\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"shareLink":{"type":"string","example":"https://app.vwo.com/#/campaign/1/summary?token=token"}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/status":{"patch":{"summary":"Update campaign status","description":"","operationId":"update-a-campaign-1","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"status\": \"STOPPED\",\n        \"ids\": [\n            14,\n            15\n        ]\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"status":{"type":"string","example":"STOPPED"},"ids":{"type":"array","items":{"type":"integer","example":14,"default":0}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/{campaign_id}/goals":{"get":{"summary":"Get all goals of a campaign","description":"","operationId":"get-all-the-goals-of-a-campaign","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": [\n        {\n            \"id\": 2,\n            \"isPrimary\": true,\n            \"name\": \"Goal 2\",\n            \"urls\": [\n                {\n                    \"type\": \"url\",\n                    \"value\": \"http://wingify.com\"\n                }\n            ],\n            \"excludedUrls\": [],\n            \"cssSelectors\": [\n                null\n            ],\n            \"isCreatedInEditor\": false,\n            \"type\": \"visitPage\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":2,"default":0},"isPrimary":{"type":"boolean","example":true,"default":true},"name":{"type":"string","example":"Goal 2"},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"excludedUrls":{"type":"array"},"cssSelectors":{"type":"array","items":{}},"isCreatedInEditor":{"type":"boolean","example":false,"default":true},"type":{"type":"string","example":"visitPage"}}}}}}}}}},"deprecated":false},"post":{"summary":"Create a campaign goal","description":"","operationId":"create-a-campaign-goal","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 3,\n        \"isPrimary\": false,\n        \"name\": \"New goal\",\n        \"urls\": [\n            {\n                \"type\": \"url\",\n                \"value\": \"http://wingify.com\"\n            }\n        ],\n        \"excludedUrls\": [],\n        \"cssSelectors\": [\n            null\n        ],\n        \"isCreatedInEditor\": false,\n        \"type\": \"visitPage\"\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":3,"default":0},"isPrimary":{"type":"boolean","example":false,"default":true},"name":{"type":"string","example":"New goal"},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"excludedUrls":{"type":"array"},"cssSelectors":{"type":"array","items":{}},"isCreatedInEditor":{"type":"boolean","example":false,"default":true},"type":{"type":"string","example":"visitPage"}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/{campaign_id}/goals/{goal_id}":{"get":{"summary":"Get details of a specific goal in a campaign","description":"","operationId":"get-details-of-a-specific-goal-in-a-campaign","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"goal_id","in":"path","description":"Goal Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 2,\n        \"isPrimary\": true,\n        \"name\": \"Goal 2\",\n        \"urls\": [\n            {\n                \"type\": \"url\",\n                \"value\": \"http://wingify.com\"\n            }\n        ],\n        \"excludedUrls\": [],\n        \"cssSelectors\": [\n            null\n        ],\n        \"isCreatedInEditor\": false,\n        \"type\": \"visitPage\"\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":2,"default":0},"isPrimary":{"type":"boolean","example":true,"default":true},"name":{"type":"string","example":"Goal 2"},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"excludedUrls":{"type":"array"},"cssSelectors":{"type":"array","items":{}},"isCreatedInEditor":{"type":"boolean","example":false,"default":true},"type":{"type":"string","example":"visitPage"}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaign/{campaign_id}/goals/{goal_id}":{"patch":{"summary":"Update a campaign goal","description":"","operationId":"update-a-campaign-goal","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"goal_id","in":"path","description":"Goal Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 2,\n        \"isPrimary\": true,\n        \"name\": \"New name\",\n        \"urls\": [\n            {\n                \"type\": \"url\",\n                \"value\": \"http://wingify.com\"\n            }\n        ],\n        \"excludedUrls\": [],\n        \"cssSelectors\": [\n            null\n        ],\n        \"isCreatedInEditor\": false,\n        \"type\": \"visitPage\"\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":2,"default":0},"isPrimary":{"type":"boolean","example":true,"default":true},"name":{"type":"string","example":"New name"},"urls":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"url"},"value":{"type":"string","example":"http://wingify.com"}}}},"excludedUrls":{"type":"array"},"cssSelectors":{"type":"array","items":{}},"isCreatedInEditor":{"type":"boolean","example":false,"default":true},"type":{"type":"string","example":"visitPage"}}}}}}}}},"deprecated":false},"delete":{"summary":"Delete a campaign goal","description":"","operationId":"delete-a-campaign-goal","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"goal_id","in":"path","description":"Goal Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/{campaign_id}/variations":{"get":{"summary":"Get all variations of a campaign","description":"","operationId":"get-all-the-variations-of-a-campaign","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": [\n        {\n            \"id\": 1,\n            \"name\": \"Control\",\n            \"isControl\": true,\n            \"isDisabled\": false,\n            \"heatmapThumbUrl\": \"<url>\",\n            \"screenshots\": {\n                \"quick\": \"<url>\"\n            },\n            \"percentSplit\": 50,\n            \"editorData\": {\n                \"stack\": []\n            },\n            \"sectionId\": 1\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"<url>"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"<url>"}}},"percentSplit":{"type":"integer","example":50,"default":0},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}},"sectionId":{"type":"integer","example":1,"default":0}}}}}}}}}},"deprecated":false},"post":{"summary":"Create a campaign variation","description":"","operationId":"create-a-campaign-variation","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 3,\n        \"name\": \"New shiny variation\",\n        \"isControl\": false,\n        \"isDisabled\": false,\n        \"heatmapThumbUrl\": \"<url>\",\n        \"screenshots\": {\n            \"quick\": \"<url>\"\n        },\n        \"percentSplit\": 33.3333,\n        \"editorData\": {\n            \"stack\": null\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":3,"default":0},"name":{"type":"string","example":"New shiny variation"},"isControl":{"type":"boolean","example":false,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"<url>"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"<url>"}}},"percentSplit":{"type":"number","example":33.3333,"default":0},"editorData":{"type":"object","properties":{"stack":{}}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/{campaign_id}/variations/{variation_id}":{"get":{"summary":"Get details of a specific campaign variation","description":"","operationId":"get-details-of-a-specific-campaign-variation","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"variation_id","in":"path","description":"Use sectionId,variationId for the MULTIVARIATE campaign","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 1,\n        \"name\": \"Control\",\n        \"isControl\": true,\n        \"isDisabled\": false,\n        \"heatmapThumbUrl\": \"<url>\",\n        \"screenshots\": {\n            \"quick\": \"<url>\"\n        },\n        \"percentSplit\": 50,\n        \"editorData\": {\n            \"stack\": []\n        },\n        \"sectionId\": 1\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"<url>"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"<url>"}}},"percentSplit":{"type":"integer","example":50,"default":0},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}},"sectionId":{"type":"integer","example":1,"default":0}}}}}}}}},"deprecated":false},"patch":{"summary":"Update a campaign variation","description":"","operationId":"update-a-campaign-variation","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"variation_id","in":"path","description":"Use sectionId,variationId for the MULTIVARIATE campaign","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 1,\n        \"name\": \"New name\",\n        \"isControl\": true,\n        \"isDisabled\": false,\n        \"heatmapThumbUrl\": \"<url>\",\n        \"screenshots\": {\n            \"quick\": \"<url>\"\n        },\n        \"percentSplit\": 50,\n        \"editorData\": {\n            \"stack\": []\n        },\n        \"sectionId\": 1\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"New name"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"<url>"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"<url>"}}},"percentSplit":{"type":"integer","example":50,"default":0},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}},"sectionId":{"type":"integer","example":1,"default":0}}}}}}}}},"deprecated":false},"delete":{"summary":"Delete a campaign variation","description":"","operationId":"remove-a-specific-campaign-variation","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"variation_id","in":"path","description":"Use sectionId,variationId for the MULTIVARIATE campaign","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/{campaign_id}/sections":{"get":{"summary":"Get all sections of a campaign","description":"","operationId":"get-all-the-sections-of-a-campaign","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": [\n        {\n            \"id\": 1,\n            \"name\": \"Baja Baja\",\n            \"cssSelector\": \"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child\",\n            \"variations\": [\n                {\n                    \"id\": 1,\n                    \"name\": \"Control\",\n                    \"isControl\": true,\n                    \"isDisabled\": false,\n                    \"heatmapThumbUrl\": \"<url>\",\n                    \"screenshots\": {\n                        \"quick\": \"<url>\"\n                    },\n                    \"editorData\": {\n                        \"stack\": []\n                    }\n                }\n            ]\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Baja Baja"},"cssSelector":{"type":"string","example":"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child"},"variations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"<url>"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"<url>"}}},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}}}}}}}}}}}}}},"deprecated":false},"post":{"summary":"Create a campaign section","description":"","operationId":"create-a-campaign-section","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": [\n        {\n            \"id\": 2,\n            \"name\": \"New shiny section\",\n            \"cssSelector\": \"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child\",\n            \"variations\": [\n                {\n                    \"id\": 1,\n                    \"name\": \"Control\",\n                    \"isControl\": true,\n                    \"isDisabled\": false,\n                    \"heatmapThumbUrl\": \"<url>\",\n                    \"screenshots\": {\n                        \"quick\": \"<url>\"\n                    },\n                    \"editorData\": {\n                        \"stack\": []\n                    }\n                }\n            ]\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":2,"default":0},"name":{"type":"string","example":"New shiny section"},"cssSelector":{"type":"string","example":"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child"},"variations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"<url>"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"<url>"}}},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}}}}}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/campaigns/{campaign_id}/sections/{section_id}":{"get":{"summary":"Get details of a specific campaign section","description":"","operationId":"get-details-of-a-specific-campaign-section","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"section_id","in":"path","description":"Section Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 1,\n        \"name\": \"Baja Baja\",\n        \"cssSelector\": \"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child\",\n        \"variations\": [\n            {\n                \"id\": 1,\n                \"name\": \"Control\",\n                \"isControl\": true,\n                \"isDisabled\": false,\n                \"heatmapThumbUrl\": \"<url>\",\n                \"screenshots\": {\n                    \"quick\": \"<url>\"\n                },\n                \"editorData\": {\n                    \"stack\": []\n                }\n            }\n        ]\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Baja Baja"},"cssSelector":{"type":"string","example":"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child"},"variations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"<url>"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"<url>"}}},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}}}}}}}}}}}}},"deprecated":false},"patch":{"summary":"Update a campaign section","description":"","operationId":"update-a-campaign-section","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"section_id","in":"path","description":"Section Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 1,\n        \"name\": \"New name\",\n        \"cssSelector\": \"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child\",\n        \"variations\": [\n            {\n                \"id\": 1,\n                \"name\": \"Control\",\n                \"isControl\": true,\n                \"isDisabled\": false,\n                \"heatmapThumbUrl\": \"<url>\",\n                \"screenshots\": {\n                    \"quick\": \"<url>\"\n                },\n                \"editorData\": {\n                    \"stack\": []\n                }\n            }\n        ]\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"New name"},"cssSelector":{"type":"string","example":"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child"},"variations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"<url>"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"<url>"}}},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}}}}}}}}}}}}},"deprecated":false},"delete":{"summary":"Delete a campaign section","description":"","operationId":"delete-a-campaign-section","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"campaign_id","in":"path","description":"Campaign Id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"section_id","in":"path","description":"Section Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/accounts/{account_id}/changesets":{"post":{"summary":"Create a custom widget","description":"","operationId":"create-a-custom-widget","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"Get all custom widgets","description":"","operationId":"get-all-custom-widgets","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": [\n        {\n            \"id\": 1,\n            \"name\": \"Control\",\n            \"isControl\": true,\n            \"isDisabled\": false,\n            \"heatmapThumbUrl\": \"<url>\",\n            \"screenshots\": {\n                \"quick\": \"<url>\"\n            },\n            \"percentSplit\": 50,\n            \"editorData\": {\n                \"stack\": []\n            },\n            \"sectionId\": 1\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"<url>"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"<url>"}}},"percentSplit":{"type":"integer","example":50,"default":0},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}},"sectionId":{"type":"integer","example":1,"default":0}}}}}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/accounts/{account_id}/changesets/{changeset_id}":{"get":{"summary":"Get details of a specific custom widget","description":"","operationId":"get-details-of-a-specific-custom-widget","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"changeset_id","in":"path","description":"Enter the widget ID","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": [\n        {\n            \"id\": 1,\n            \"name\": \"Control\",\n            \"isControl\": true,\n            \"isDisabled\": false,\n            \"heatmapThumbUrl\": \"<url>\",\n            \"screenshots\": {\n                \"quick\": \"<url>\"\n            },\n            \"percentSplit\": 50,\n            \"editorData\": {\n                \"stack\": []\n            },\n            \"sectionId\": 1\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"<url>"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"<url>"}}},"percentSplit":{"type":"integer","example":50,"default":0},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}},"sectionId":{"type":"integer","example":1,"default":0}}}}}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":""}}}}}},"deprecated":false},"patch":{"summary":"Update a custom widget","description":"","operationId":"update-a-custom-widget","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"changeset_id","in":"path","description":"Enter the widget Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 1,\n        \"name\": \"New name\",\n        \"isControl\": true,\n        \"isDisabled\": false,\n        \"heatmapThumbUrl\": \"<url>\",\n        \"screenshots\": {\n            \"quick\": \"<url>\"\n        },\n        \"percentSplit\": 50,\n        \"editorData\": {\n            \"stack\": []\n        },\n        \"sectionId\": 1\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"New name"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"<url>"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"<url>"}}},"percentSplit":{"type":"integer","example":50,"default":0},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}},"sectionId":{"type":"integer","example":1,"default":0}}}}}}}},"400":{"description":"400","content":{"text/plain":{"examples":{"Result":{"value":""}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":""}}}}}},"deprecated":false},"delete":{"summary":"Delete a custom widget","description":"","operationId":"delete-a-custom-widget","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"changeset_id","in":"path","description":"Enter the widget Id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/accounts/{account_id}/changesets/{changeset_id}/experiments":{"get":{"summary":"Get list of linked campaigns of a custom widget","description":"","operationId":"get-details-of-a-specific-custom-widget-copy","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","required":true,"schema":{"type":"string","default":"current"}},{"name":"changeset_id","in":"path","description":"Enter the widget ID","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": [\n        {\n            \"id\": 1,\n            \"name\": \"Control\",\n            \"isControl\": true,\n            \"isDisabled\": false,\n            \"heatmapThumbUrl\": \"<url>\",\n            \"screenshots\": {\n                \"quick\": \"<url>\"\n            },\n            \"percentSplit\": 50,\n            \"editorData\": {\n                \"stack\": []\n            },\n            \"sectionId\": 1\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Control"},"isControl":{"type":"boolean","example":true,"default":true},"isDisabled":{"type":"boolean","example":false,"default":true},"heatmapThumbUrl":{"type":"string","example":"<url>"},"screenshots":{"type":"object","properties":{"quick":{"type":"string","example":"<url>"}}},"percentSplit":{"type":"integer","example":50,"default":0},"editorData":{"type":"object","properties":{"stack":{"type":"array"}}},"sectionId":{"type":"integer","example":1,"default":0}}}}}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/accounts/{account_id}/changesets/bulk":{"post":{"summary":"Create bulk custom widgets","description":"The api is used to create custom widgets in bulk","operationId":"create-bulk-custom-widgets","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": [\n        {\n            \"id\": 40224\n        },\n        {\n            \"id\": 40227\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":40224,"default":0}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\"_errors\":[{\"code\":400,\"message\":\"widgets must be less than or equal to 25. \"}]}"}},"schema":{"type":"object","properties":{"_errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"widgets must be less than or equal to 25. "}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/projects":{"get":{"summary":"Get all projects in an account / sub-account","description":"","operationId":"get-all-projects-in-an-account-sub-account","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": [\n        {\n            \"id\": 1,\n            \"name\": \"Project One\",\n            \"accountId\": 1,\n            \"createdOn\": 1621232674,\n            \"modifiedOn\": 1621232674,\n            \"createdBy\": {\n                \"name\": \"Backend Testing\",\n                \"imageUrl\": \"//gravatar.com/avatar/5f32891bf0bda2e1c4a931e72f86975b?s=24&d=https%3A%2F%2Fapp.vwo.com%2Fassets%2Fimages%2Favatar-new-3.png\"\n            },\n            \"languages\": [\n                \"NODEJS\",\n                \"PYTHON\",\n                \"PHP\",\n                \"JAVA\",\n                \"DOTNET\",\n                \"RUBY\",\n                \"GO\",\n                \"JAVASCRIPT\"\n            ],\n            \"environments\": [\n                {\n                    \"id\": 1,\n                    \"name\": \"Env1\",\n                    \"isEnabled\": true,\n                    \"token\": \"1111808b7365d71d73477713f3c3XXXX\"\n                },\n                {\n                    \"id\": 2,\n                    \"name\": \"Env2\",\n                    \"isEnabled\": false,\n                    \"token\": \"222267fd9458cd9fe8319be08de1XXXX\"\n                }\n            ]\n        },\n        {\n            \"id\": 2,\n            \"name\": \"Project Two\",\n            \"accountId\": 1,\n            \"createdOn\": 1621232901,\n            \"modifiedOn\": 1621232901,\n            \"createdBy\": {\n                \"name\": \"Backend Testing\",\n                \"imageUrl\": \"//gravatar.com/avatar/5f32891bf0bda2e1c4a931e72f86975b?s=24&d=https%3A%2F%2Fapp.vwo.com%2Fassets%2Fimages%2Favatar-new-3.png\"\n            },\n            \"languages\": [\n                \"NODEJS\",\n                \"PYTHON\",\n                \"PHP\",\n                \"JAVA\",\n                \"DOTNET\",\n                \"RUBY\",\n                \"GO\",\n                \"JAVASCRIPT\"\n            ],\n            \"environments\": [\n                {\n                    \"id\": 1,\n                    \"name\": \"Env1\",\n                    \"isEnabled\": false,\n                    \"token\": \"333393ae3260395ed5af88d4d60bYYYY\"\n                },\n                {\n                    \"id\": 2,\n                    \"name\": \"Env2\",\n                    \"isEnabled\": true,\n                    \"token\": \"444dcaa6f3a519067d249de3d299ZZZZ\"\n                }\n            ]\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Project One"},"accountId":{"type":"integer","example":1,"default":0},"createdOn":{"type":"integer","example":1621232674,"default":0},"modifiedOn":{"type":"integer","example":1621232674,"default":0},"createdBy":{"type":"object","properties":{"name":{"type":"string","example":"Backend Testing"},"imageUrl":{"type":"string","example":"//gravatar.com/avatar/5f32891bf0bda2e1c4a931e72f86975b?s=24&d=https%3A%2F%2Fapp.vwo.com%2Fassets%2Fimages%2Favatar-new-3.png"}}},"languages":{"type":"array","items":{"type":"string","example":"NODEJS"}},"environments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Env1"},"isEnabled":{"type":"boolean","example":true,"default":true},"token":{"type":"string","example":"1111808b7365d71d73477713f3c3XXXX"}}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"Create a Project","description":"","operationId":"create-a-project","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 1,\n        \"name\": \"projectOne\",\n        \"accountId\": 1,\n        \"createdOn\": 1621265223,\n        \"modifiedOn\": 1621265223,\n        \"createdBy\": {\n            \"name\": \"Backend Testing\",\n            \"imageUrl\": \"//gravatar.com/avatar/5f32891bf0bda2e1c4a931e72f86975b?s=24&d=https%3A%2F%2Fapp.vwo.com%2Fassets%2Fimages%2Favatar-new-3.png\"\n        },\n        \"languages\": [\n            \"NODEJS\",\n            \"PYTHON\",\n            \"PHP\",\n            \"JAVA\",\n            \"DOTNET\",\n            \"RUBY\",\n            \"GO\",\n            \"JAVASCRIPT\"\n        ],\n        \"environments\": [\n            {\n                \"id\": 1,\n                \"name\": \"Env1\",\n                \"isEnabled\": true,\n                \"token\": \"32ccbd56f7c14b19196475846a4cf745\"\n            },\n            {\n                \"id\": 2,\n                \"name\": \"Env2\",\n                \"isEnabled\": false,\n                \"token\": \"9d6604ca9eb55c4be3e3385a35829d94\"\n            }\n        ],\n        \"setting\": {\n            \"isEditable\": true,\n            \"associatedCampaigns\": []\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"projectOne"},"accountId":{"type":"integer","example":1,"default":0},"createdOn":{"type":"integer","example":1621265223,"default":0},"modifiedOn":{"type":"integer","example":1621265223,"default":0},"createdBy":{"type":"object","properties":{"name":{"type":"string","example":"Backend Testing"},"imageUrl":{"type":"string","example":"//gravatar.com/avatar/5f32891bf0bda2e1c4a931e72f86975b?s=24&d=https%3A%2F%2Fapp.vwo.com%2Fassets%2Fimages%2Favatar-new-3.png"}}},"languages":{"type":"array","items":{"type":"string","example":"NODEJS"}},"environments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Env1"},"isEnabled":{"type":"boolean","example":true,"default":true},"token":{"type":"string","example":"32ccbd56f7c14b19196475846a4cf745"}}}},"setting":{"type":"object","properties":{"isEditable":{"type":"boolean","example":true,"default":true},"associatedCampaigns":{"type":"array"}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/accounts/{account_id}/projects/{project_id}":{"get":{"summary":"Get details of a specific project","description":"","operationId":"get-details-of-a-specific-project","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true},{"name":"project_id","in":"path","description":"Project Id","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 41,\n        \"name\": \"project41\",\n        \"accountId\": 1,\n        \"createdOn\": 1621265223,\n        \"modifiedOn\": 1621265405,\n        \"createdBy\": {\n            \"name\": \"Backend Testing\",\n            \"imageUrl\": \"//gravatar.com/avatar/5f32891bf0bda2e1c4a931e72f86975b?s=24&d=https%3A%2F%2Fapp.vwo.com%2Fassets%2Fimages%2Favatar-new-3.png\"\n        },\n        \"languages\": [\n            \"DOTNET\",\n            \"RUBY\",\n            \"GO\",\n            \"JAVASCRIPT\"\n        ],\n        \"environments\": [\n            {\n                \"id\": 1,\n                \"name\": \"Env1\",\n                \"isEnabled\": false,\n                \"token\": \"32ccbd56f7c14b19196475846a4cf745\"\n            },\n            {\n                \"id\": 4,\n                \"name\": \"Env45\",\n                \"isEnabled\": true,\n                \"token\": \"e7f2c7b3690b37b5eb241565cd1e3ed6\"\n            }\n        ],\n        \"setting\": {\n            \"isEditable\": true,\n            \"associatedCampaigns\": []\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":41,"default":0},"name":{"type":"string","example":"project41"},"accountId":{"type":"integer","example":1,"default":0},"createdOn":{"type":"integer","example":1621265223,"default":0},"modifiedOn":{"type":"integer","example":1621265405,"default":0},"createdBy":{"type":"object","properties":{"name":{"type":"string","example":"Backend Testing"},"imageUrl":{"type":"string","example":"//gravatar.com/avatar/5f32891bf0bda2e1c4a931e72f86975b?s=24&d=https%3A%2F%2Fapp.vwo.com%2Fassets%2Fimages%2Favatar-new-3.png"}}},"languages":{"type":"array","items":{"type":"string","example":"DOTNET"}},"environments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Env1"},"isEnabled":{"type":"boolean","example":false,"default":true},"token":{"type":"string","example":"32ccbd56f7c14b19196475846a4cf745"}}}},"setting":{"type":"object","properties":{"isEditable":{"type":"boolean","example":true,"default":true},"associatedCampaigns":{"type":"array"}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"patch":{"summary":"Update a project","description":"","operationId":"update-a-project","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true},{"name":"project_id","in":"path","description":"Project Id","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":" Collapse source\n{\n    \"_data\": {\n        \"id\": 1,\n        \"name\": \"projectOne\",\n        \"accountId\": 1,\n        \"createdOn\": 1621265223,\n        \"modifiedOn\": 1621265405,\n        \"createdBy\": {\n            \"name\": \"Backend Testing\",\n            \"imageUrl\": \"//gravatar.com/avatar/5f32891bf0bda2e1c4a931e72f86975b?s=24&d=https%3A%2F%2Fapp.vwo.com%2Fassets%2Fimages%2Favatar-new-3.png\"\n        },\n        \"languages\": [\n            \"DOTNET\",\n            \"RUBY\",\n            \"GO\",\n            \"JAVASCRIPT\"\n        ],\n        \"environments\": [\n            {\n                \"id\": 1,\n                \"name\": \"Env1\",\n                \"isEnabled\": false,\n                \"token\": \"32ccbd56f7c14b19196475846a4cf745\"\n            },\n            {\n                \"id\": 2,\n                \"name\": \"Env45\",\n                \"isEnabled\": true,\n                \"token\": \"e7f2c7b3690b37b5eb241565cd1e3ed6\"\n            }\n        ],\n        \"setting\": {\n            \"isEditable\": true,\n            \"associatedCampaigns\": []\n        }\n    }\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"delete":{"summary":"Delete a project","description":"","operationId":"delete-a-project","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true},{"name":"project_id","in":"path","description":"Project Id","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":" Collapse source\n{\n    \"_data\": {\n        \"success\": \"ok\"\n    }\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/accounts/{account_id}/features":{"get":{"summary":"Get all features in a workspace","description":"","operationId":"get-all-features-in-an-account-sub-account","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": [\n        {\n            \"id\": 1,\n            \"name\": \"FeatureOne\",\n            \"accountId\": 1,\n            \"createdOn\": 1621489759,\n            \"modifiedOn\": 1621489759,\n            \"createdBy\": {\n                \"name\": \"Backend Testing\",\n                \"imageUrl\": \"//gravatar.com/avatar/5f32891bf0bda2e1c4a931e72f86975b?s=24&d=https%3A%2F%2Fapp.vwo.com%2Fassets%2Fimages%2Favatar-new-3.png\"\n            },\n            \"variables\": [\n                {\n                    \"id\": 1,\n                    \"variableName\": \"var1\",\n                    \"dataType\": \"string\",\n                    \"defaultValue\": \"val1\"\n                },\n                {\n                    \"id\": 2,\n                    \"variableName\": \"var2\",\n                    \"dataType\": \"int\",\n                    \"defaultValue\": 32\n                },\n                {\n                    \"id\": 3,\n                    \"variableName\": \"var3\",\n                    \"dataType\": \"float\",\n                    \"defaultValue\": 10.5\n                },\n                {\n                    \"id\": 4,\n                    \"variableName\": \"var4\",\n                    \"dataType\": \"boolean\",\n                    \"defaultValue\": true\n                }\n            ],\n            \"setting\": {\n                \"isEditable\": false,\n                \"associatedCampaigns\": [\n                    {\n                        \"id\": 146,\n                        \"name\": \"Campaign 146\",\n                        \"status\": \"RUNNING\",\n                        \"type\": \"feature-test\"\n                    }\n                ]\n            }\n        },\n        {\n            \"id\": 2,\n            \"name\": \"Feature2\",\n            \"accountId\": 1,\n            \"createdOn\": 1621490667,\n            \"modifiedOn\": 1621490667,\n            \"createdBy\": {\n                \"name\": \"Backend Testing\",\n                \"imageUrl\": \"//gravatar.com/avatar/5f32891bf0bda2e1c4a931e72f86975b?s=24&d=https%3A%2F%2Fapp.vwo.com%2Fassets%2Fimages%2Favatar-new-3.png\"\n            },\n            \"variables\": [\n                {\n                    \"id\": 1,\n                    \"variableName\": \"var1\",\n                    \"dataType\": \"string\",\n                    \"defaultValue\": \"val1\"\n                },\n                {\n                    \"id\": 2,\n                    \"variableName\": \"var2\",\n                    \"dataType\": \"int\",\n                    \"defaultValue\": 32\n                },\n                {\n                    \"id\": 3,\n                    \"variableName\": \"var3\",\n                    \"dataType\": \"float\",\n                    \"defaultValue\": 10.5\n                },\n                {\n                    \"id\": 4,\n                    \"variableName\": \"var4\",\n                    \"dataType\": \"boolean\",\n                    \"defaultValue\": true\n                }\n            ],\n            \"setting\": {\n                \"isEditable\": true,\n                \"associatedCampaigns\": []\n            }\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"FeatureOne"},"accountId":{"type":"integer","example":1,"default":0},"createdOn":{"type":"integer","example":1621489759,"default":0},"modifiedOn":{"type":"integer","example":1621489759,"default":0},"createdBy":{"type":"object","properties":{"name":{"type":"string","example":"Backend Testing"},"imageUrl":{"type":"string","example":"//gravatar.com/avatar/5f32891bf0bda2e1c4a931e72f86975b?s=24&d=https%3A%2F%2Fapp.vwo.com%2Fassets%2Fimages%2Favatar-new-3.png"}}},"variables":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"variableName":{"type":"string","example":"var1"},"dataType":{"type":"string","example":"string"},"defaultValue":{"type":"string","example":"val1"}}}},"setting":{"type":"object","properties":{"isEditable":{"type":"boolean","example":false,"default":true},"associatedCampaigns":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":146,"default":0},"name":{"type":"string","example":"Campaign 146"},"status":{"type":"string","example":"RUNNING"},"type":{"type":"string","example":"feature-test"}}}}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"Create a Feature","description":"","operationId":"create-a-feature","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 1,\n        \"name\": \"Feature1\",\n        \"accountId\": 1,\n        \"createdOn\": 1621963588,\n        \"modifiedOn\": 1621963588,\n        \"createdBy\": {\n            \"name\": \"Backend Testing\",\n            \"imageUrl\": \"//gravatar.com/avatar/5f32891bf0bda2e1c4a931e72f86975b?s=24&d=https%3A%2F%2Fapp.vwo.com%2Fassets%2Fimages%2Favatar-new-3.png\"\n        },\n        \"variables\": [\n            {\n                \"id\": 1,\n                \"variableName\": \"var1\",\n                \"dataType\": \"string\",\n                \"defaultValue\": \"strVal\"\n            },\n            {\n                \"id\": 2,\n                \"variableName\": \"var2\",\n                \"dataType\": \"int\",\n                \"defaultValue\": 32\n            },\n            {\n                \"id\": 3,\n                \"variableName\": \"var3\",\n                \"dataType\": \"float\",\n                \"defaultValue\": 22.5\n            },\n            {\n                \"id\": 4,\n                \"variableName\": \"var4\",\n                \"dataType\": \"boolean\",\n                \"defaultValue\": false\n            }\n        ],\n        \"setting\": {\n            \"isEditable\": true,\n            \"associatedCampaigns\": []\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Feature1"},"accountId":{"type":"integer","example":1,"default":0},"createdOn":{"type":"integer","example":1621963588,"default":0},"modifiedOn":{"type":"integer","example":1621963588,"default":0},"createdBy":{"type":"object","properties":{"name":{"type":"string","example":"Backend Testing"},"imageUrl":{"type":"string","example":"//gravatar.com/avatar/5f32891bf0bda2e1c4a931e72f86975b?s=24&d=https%3A%2F%2Fapp.vwo.com%2Fassets%2Fimages%2Favatar-new-3.png"}}},"variables":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"variableName":{"type":"string","example":"var1"},"dataType":{"type":"string","example":"string"},"defaultValue":{"type":"string","example":"strVal"}}}},"setting":{"type":"object","properties":{"isEditable":{"type":"boolean","example":true,"default":true},"associatedCampaigns":{"type":"array"}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/accounts/{account_id}/features/{feature_id}":{"get":{"summary":"Get details of a specific feature","description":"","operationId":"get-details-of-a-specific-feature","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true},{"name":"feature_id","in":"path","description":"Feature Id","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"_data\": {\n        \"id\": 1,\n        \"name\": \"FeatureOne\",\n        \"accountId\": 1,\n        \"createdOn\": 1621496864,\n        \"modifiedOn\": 1621952220,\n        \"createdBy\": {\n            \"name\": \"Backend Testing\",\n            \"imageUrl\": \"//gravatar.com/avatar/5f32891bf0bda2e1c4a931e72f86975b?s=24&d=https%3A%2F%2Fapp.vwo.com%2Fassets%2Fimages%2Favatar-new-3.png\"\n        },\n        \"variables\": [\n            {\n                \"id\": 1,\n                \"variableName\": \"var1\",\n                \"dataType\": \"string\",\n                \"defaultValue\": \"123\"\n            },\n            {\n                \"id\": 2,\n                \"variableName\": \"var2\",\n                \"dataType\": \"int\",\n                \"defaultValue\": 32\n            },\n            {\n                \"id\": 3,\n                \"variableName\": \"var3\",\n                \"dataType\": \"float\",\n                \"defaultValue\": 4\n            },\n            {\n                \"id\": 4,\n                \"variableName\": \"var4\",\n                \"dataType\": \"boolean\",\n                \"defaultValue\": false\n            }\n        ],\n        \"setting\": {\n            \"isEditable\": false,\n            \"associatedCampaigns\": [\n                {\n                    \"id\": 144,\n                    \"name\": \"Campaign 144\",\n                    \"status\": \"RUNNING\",\n                    \"type\": \"feature-rollout\"\n                }\n            ]\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"_data":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"FeatureOne"},"accountId":{"type":"integer","example":1,"default":0},"createdOn":{"type":"integer","example":1621496864,"default":0},"modifiedOn":{"type":"integer","example":1621952220,"default":0},"createdBy":{"type":"object","properties":{"name":{"type":"string","example":"Backend Testing"},"imageUrl":{"type":"string","example":"//gravatar.com/avatar/5f32891bf0bda2e1c4a931e72f86975b?s=24&d=https%3A%2F%2Fapp.vwo.com%2Fassets%2Fimages%2Favatar-new-3.png"}}},"variables":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"variableName":{"type":"string","example":"var1"},"dataType":{"type":"string","example":"string"},"defaultValue":{"type":"string","example":"123"}}}},"setting":{"type":"object","properties":{"isEditable":{"type":"boolean","example":false,"default":true},"associatedCampaigns":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":144,"default":0},"name":{"type":"string","example":"Campaign 144"},"status":{"type":"string","example":"RUNNING"},"type":{"type":"string","example":"feature-rollout"}}}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"patch":{"summary":"Update a feature","description":"","operationId":"update-a-feature","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true},{"name":"feature_id","in":"path","description":"Feature Id","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":" Collapse source\n{\n    \"_data\": {\n        \"id\": 1,\n        \"name\": \"FeatureOne\",\n        \"accountId\": 1,\n        \"createdOn\": 1621496864,\n        \"modifiedOn\": 1621952220,\n        \"createdBy\": {\n            \"name\": \"Backend Testing\",\n            \"imageUrl\": \"//gravatar.com/avatar/5f32891bf0bda2e1c4a931e72f86975b?s=24&d=https%3A%2F%2Fapp.vwo.com%2Fassets%2Fimages%2Favatar-new-3.png\"\n        },\n        \"variables\": [\n            {\n                \"id\": 1,\n                \"variableName\": \"var1\",\n                \"dataType\": \"string\",\n                \"defaultValue\": \"123\"\n            },\n            {\n                \"id\": 2,\n                \"variableName\": \"var2\",\n                \"dataType\": \"int\",\n                \"defaultValue\": 32\n            },\n            {\n                \"id\": 3,\n                \"variableName\": \"var3\",\n                \"dataType\": \"float\",\n                \"defaultValue\": 4\n            },\n            {\n                \"id\": 4,\n                \"variableName\": \"var4\",\n                \"dataType\": \"boolean\",\n                \"defaultValue\": false\n            }\n        ]\n    }\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"delete":{"summary":"Delete a feature","description":"","operationId":"delete-a-feature","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true},{"name":"feature_id","in":"path","description":"Feature Id","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":" Collapse source\n{\n    \"_data\": {\n        \"success\": \"ok\"\n    }\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/accounts/{account_id}/environments/{environment_id_or_key}/features/{feature_id_or_key}/rules/{rule_id_or_key}":{"delete":{"summary":"Delete a Feature Flag Rule","description":"","operationId":"fme-delete-a-feature-flag-rule","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true},{"name":"environment_id_or_key","in":"path","description":"Environment ID/Key for which Feature Flag needs to be evaluated","schema":{"type":"integer","format":"int32"},"required":true},{"name":"feature_id_or_key","in":"path","description":"Feature Flag ID/Key","schema":{"type":"integer","format":"int32"},"required":true},{"name":"rule_id_or_key","in":"path","description":"Feature Flag Rule ID/Key","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_errors\": [\n    {\n      \"code\": 400,\n      \"message\": \"Descriptive error message indicating the issue.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"Descriptive error message indicating the issue."}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/websites":{"get":{"summary":"Get all websites with their attributes","description":"","operationId":"get-all-websites","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":tru
[...]
