{"openapi":"3.1.0","info":{"title":"fme-apis","version":"4"},"servers":[{"url":"https://app.vwo.com/api/v2"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"token"}}},"security":[{"sec0":[]}],"paths":{"/accounts/{account_id}/features":{"get":{"summary":"Get all Feature Flags of a Workspace","description":"","operationId":"fme-get-all-feature-flags-of-a-workspace","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true},{"name":"limit","in":"query","description":"Limit the number of feature flags to be returned","schema":{"type":"integer","format":"int32","default":10}},{"name":"offset","in":"query","description":"Offset where feature flags should be fetched from","schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_errors\": [\n    {\n      \"code\": 400,\n      \"message\": \"Descriptive error message indicating the issue.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"Descriptive error message indicating the issue."}}}}}}}}}},"deprecated":false},"post":{"summary":"Create a Feature Flag","description":"","operationId":"fme-create-a-feature-flag","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","featureKey","featureType"],"properties":{"name":{"type":"string","description":"Feature Flag Name"},"featureKey":{"type":"string","description":"Unique Feature identifier"},"description":{"type":"string","description":"Feature Flag Description"},"featureType":{"type":"string","description":"Type of Feature Flag i.e. Temporary or Permanent","default":"TEMPORARY","enum":["TEMPORARY","PERMANENT"]},"goals":{"type":"object","description":"Feature Flag Metric - At least one is required. Check sample request body.","required":["metricId"],"properties":{"metricId":{"type":"integer","description":"Metric ID to be used in Feature Flag","format":"int32"}}},"variables":{"type":"array","description":"Feature Flag Variables. Check sample request body.","items":{"properties":{"variableName":{"type":"string","description":"Variable Name"},"dataType":{"type":"string","description":"Variable Type","default":"string","enum":["string","int","float","json"]},"defaultValue":{"type":"string","description":"Depending upon variable data-type, pass the variable's value"}},"required":["variableName","dataType","defaultValue"],"type":"object"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_errors\": [\n    {\n      \"code\": 400,\n      \"message\": \"Descriptive error message indicating the issue.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"Descriptive error message indicating the issue."}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/features/{feature_id_or_key}":{"get":{"summary":"Get details of a specific Feature Flag","description":"","operationId":"fme-get-details-of-a-specific-feature-flag","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true},{"name":"feature_id_or_key","in":"path","description":"Feature ID/Key of the desired feature flag","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_errors\": [\n    {\n      \"code\": 400,\n      \"message\": \"Descriptive error message indicating the issue.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"Descriptive error message indicating the issue."}}}}}}}}}},"deprecated":false},"patch":{"summary":"Update a Feature Flag","description":"","operationId":"fme-update-a-feature-flag","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true},{"name":"feature_id_or_key","in":"path","description":"Feature Flag ID/Key","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Feature Flag Name"},"description":{"type":"string","description":"Feature Flag Description"},"goals":{"type":"array","description":"Feature Flag Metric - At least one is required. Check sample request body.","items":{"properties":{"metricId":{"type":"integer","description":"Metric ID to be used in Feature Flag","format":"int32"}},"required":["metricId"],"type":"object"}},"variables":{"type":"array","description":"Feature Flag Variables. Check sample request body.","items":{"properties":{"variableName":{"type":"string","description":"Variable Name"},"dataType":{"type":"string","description":"Variable Type","default":"string","enum":["string","int","float","json"]},"defaultValue":{"type":"string","description":"Depending upon variable data-type, pass the variable's value"}},"required":["variableName","dataType","defaultValue"],"type":"object"}},"variations":{"type":"array","description":"Feature Flag Variations","items":{"properties":{"name":{"type":"string","description":"Variation Name"},"key":{"type":"string","description":"Unique Variation Identifier"},"variables":{"type":"array","items":{"properties":{"variableId":{"type":"integer","description":"Variable ID","format":"int32"},"value":{"type":"string","description":"Variable Value"}},"required":["variableId","value"],"type":"object"}}},"required":["name","key"],"type":"object"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_errors\": [\n    {\n      \"code\": 400,\n      \"message\": \"Descriptive error message indicating the issue.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"Descriptive error message indicating the issue."}}}}}}}}}},"deprecated":false},"delete":{"summary":"Delete a Feature Flag","description":"","operationId":"fme-delete-a-feature-flag","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true},{"name":"feature_id_or_key","in":"path","description":"Feature Flag ID/Key","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": \"ok\"\n}"}},"schema":{"type":"object","properties":{"success":{"type":"string","example":"ok"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/accounts/{account_id}/projects":{"get":{"summary":"Get FME Projects and Environments","description":"","operationId":"fme-get-feature-flag-projects-and-environments","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_errors\": [\n    {\n      \"code\": 400,\n      \"message\": \"Descriptive error message indicating the issue.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"Descriptive error message indicating the issue."}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/environments/{environment_id_or_key}/features/{feature_id_or_key}/rules":{"get":{"summary":"Get all feature flags rules","description":"","operationId":"fme-get-all-feature-flags-rules","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true},{"name":"environment_id_or_key","in":"path","description":"Environment ID/Key for which Feature Flag needs to be evaluated","schema":{"type":"integer","format":"int32"},"required":true},{"name":"feature_id_or_key","in":"path","description":"Feature Flag ID/Key","schema":{"type":"integer","format":"int32"},"required":true},{"name":"limit","in":"query","description":"Limit the number of feature flags to be returned","schema":{"type":"integer","format":"int32","default":10}},{"name":"offset","in":"query","description":"Offset where feature flags should be fetched from","schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_errors\": [\n    {\n      \"code\": 400,\n      \"message\": \"Descriptive error message indicating the issue.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"Descriptive error message indicating the issue."}}}}}}}}}},"deprecated":false},"post":{"summary":"Create a Feature Flag Rule","description":"","operationId":"fme-create-a-feature-flag-rule","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true},{"name":"environment_id_or_key","in":"path","description":"Environment ID/Key for which Feature Flag needs to be evaluated","schema":{"type":"integer","format":"int32"},"required":true},{"name":"feature_id_or_key","in":"path","description":"Feature ID/Key of the desired feature flag","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Feature Flag Rule Name"},"key":{"type":"string","description":"Unique Feature Flag Rule Identifier"},"type":{"type":"string","description":"Feature Flag Rule Type","default":"FLAG_ROLLOUT","enum":["FLAG_ROLLOUT","FLAG_PERSONALIZE","FLAG_TESTING","FLAG_MULTIVARIATE"]},"campaignData":{"type":"object","description":"Updating Feature Flag Rule Traffic Distribution","required":["percentSplit"],"properties":{"percentSplit":{"type":"integer","description":"Percent Traffic for Feature Flag Rule","default":100,"format":"int32"},"variations":{"type":"array","description":"Variation ID to be associated with Feature Flag Rule","items":{"properties":{"featureVariationId":{"type":"integer","description":"Variation ID to be used for Feature Flag Rule","format":"int32"}},"required":["featureVariationId"],"type":"object"}}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_errors\": [\n    {\n      \"code\": 400,\n      \"message\": \"Descriptive error message indicating the issue.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"Descriptive error message indicating the issue."}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/environments/{environment_id_or_key}/features/{feature_id_or_key}/rules/{rule_id_or_key}":{"get":{"summary":"Get details of a specific feature flag rule","description":"","operationId":"fme-get-details-of-a-specific-feature-flag-rule","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true},{"name":"environment_id_or_key","in":"path","description":"Environment ID/Key for which Feature Flag needs to be evaluated","schema":{"type":"integer","format":"int32"},"required":true},{"name":"feature_id_or_key","in":"path","description":"Feature Flag ID/Key","schema":{"type":"integer","format":"int32"},"required":true},{"name":"rule_id_or_key","in":"path","description":"Feature Flag Rule ID/Key","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_errors\": [\n    {\n      \"code\": 400,\n      \"message\": \"Descriptive error message indicating the issue.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"Descriptive error message indicating the issue."}}}}}}}}}},"deprecated":false},"patch":{"summary":"Update a Feature Flag Rule","description":"","operationId":"fme-update-a-feature-flag-rule","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true},{"name":"environment_id_or_key","in":"path","description":"Environment ID/Key for which Feature Flag needs to be evaluated","schema":{"type":"integer","format":"int32"},"required":true},{"name":"feature_id_or_key","in":"path","description":"Feature ID/Key of the desired feature flag","schema":{"type":"integer","format":"int32"},"required":true},{"name":"rule_id_or_key","in":"path","description":"Feature Flag Rule ID/Key","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["campaignData"],"properties":{"campaignData":{"type":"object","description":"Updating Feature Flag Rule Traffic Distribution","required":["percentSplit"],"properties":{"percentSplit":{"type":"integer","description":"Percent Traffic for Feature Flag Rule","default":100,"format":"int32"},"variations":{"type":"array","description":"Variation ID to be associated with Feature Flag Rule","items":{"properties":{"featureVariationId":{"type":"integer","description":"Variation ID to be used for Feature Flag Rule","format":"int32"}},"required":["featureVariationId"],"type":"object"}}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_errors\": [\n    {\n      \"code\": 400,\n      \"message\": \"Descriptive error message indicating the issue.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"Descriptive error message indicating the issue."}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/environments/{environment_id_or_key}/features/{feature_id_or_key}/rules/{rule_id_or_key}/toggle":{"patch":{"summary":"Toggle Feature Flag Rule Status","description":"","operationId":"fme-toggle-feature-flag-rule-status","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true},{"name":"environment_id_or_key","in":"path","description":"Environment ID/Key for which Feature Flag needs to be evaluated","schema":{"type":"integer","format":"int32"},"required":true},{"name":"feature_id_or_key","in":"path","description":"Feature Flag ID/Key","schema":{"type":"integer","format":"int32"},"required":true},{"name":"rule_id_or_key","in":"path","description":"Feature Flag Rule ID/Key","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["isEnabled"],"properties":{"isEnabled":{"type":"boolean","default":false}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_errors\": [\n    {\n      \"code\": 400,\n      \"message\": \"Descriptive error message indicating the issue.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"Descriptive error message indicating the issue."}}}}}}}}}},"deprecated":false}},"/accounts/{account_id}/environments/{environment_id_or_key}/features/{feature_id_or_key}/toggle":{"patch":{"summary":"Toggle Feature Flag Status For an Environment","description":"","operationId":"fme-toggle-feature-flag-status-for-an-environment","parameters":[{"name":"account_id","in":"path","description":"Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id","schema":{"type":"string","default":"current"},"required":true},{"name":"environment_id_or_key","in":"path","description":"Environment ID/Key for which Feature Flag needs to be evaluated","schema":{"type":"integer","format":"int32"},"required":true},{"name":"feature_id_or_key","in":"path","description":"Feature Flag ID/Key","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["isEnabled"],"properties":{"isEnabled":{"type":"boolean","description":"Feature Flag Status"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_errors\": [\n    {\n      \"code\": 400,\n      \"message\": \"Descriptive error message indicating the issue.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"Descriptive error message indicating the issue."}}}}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}